[2018-09-23 19:43] Rentier opened #1 "Add Travis CI integration"
In order to let the tests run for every commit, Travis can be added as a free Continuous Integration service.

- [x] Add Pipenv
- [x] Add setup.py
- [x] Add travis integration

[2018-09-23 19:48] Rentier opened #2 "Add Read The Docs"
In order to auto generate documentation on every commit, readthedocs can be used as a free service.

- [ ] Add sphinx to the project
- [ ] Write documentation
- [ ] Add integration for readthedocs

[2018-09-23 19:53] reckart commented on #2
Is every commit a release?

[2018-09-23 20:38] Rentier commented on #2
No. But you can have stable documentation and master documentation automagically in the respective branches.

[2018-09-25 17:57] #1 closed

[2018-09-25 20:18] Rentier opened #3 "Add Coverage"
In order to monitor test coverage, add Coverage integration.

[2018-09-25 20:27] Rentier opened #4 "Improve package import structure"
I would simplify the current package import structure (in the `__init__.py`):

- ``cassis`` contains all things like `Cas`, `TypeSystem`, `Sofa`, `Feature`, `Type`
- `cassis.xmi` contains loader/saver for XMI
- `cassis.typesystem` contains loader/saver for type systems

[2018-09-25 20:29] reckart commented on #4
Would it be reasonable to mirror the package structure of UIMA itself?

[2018-09-25 20:38] Rentier commented on #4
I will move it in a ways that mirrors mostly `org.apache.uima.cas`, i.e.  `Cas`, `TypeSystem`, `Sofa`, `Feature`, `Type` are imported just by `from cassis import *`. I do not want to move the serializing/deserializing to `cassis.util` to mirror e.g. the location of `XmlCasSerializer`. The cool thing about Python is that code structure and module names can be different. One normally tries to reduce

[2018-09-25 20:40] reckart commented on #4
UIMA also has convenience methods for loading/saving cases: org.apache.uima.util.CasIOUtils

[2018-09-29 22:30] Rentier opened #5 "Add basic sofa/view support"
- [x] Annotations  should be added to a CAS/sofa, instead of specifying sofa as a parameter.
- [x] Allow getting sofas from a CAS
- [ ] Documentation

[2018-09-29 22:30] Rentier commented on #5
@reckart What is the difference between a view and a sofa?

[2018-09-30 14:51] reckart commented on #5
@Rentier good question. A CAS may contain multiple SofAs - each representing one text or other piece of primary data which is being annotated. When interacting with a CAS, one usually interacts with a "view" of the CAS which has a single SofA and which indexes all annotations that annotate this SofA. Annotations are a subtype of "feature structures". The SofA itself is a "feature structure". Annot

[2018-10-05 20:10] Rentier opened #6 "Support type inheritance"
Types in an UIMA type system can inherit from other types. This can be specified via the `supertypeName` tag. This inheritance needs to be supported, so that a type inherits features from its super type.

[2018-10-05 21:27] Rentier opened #7 "Get PEP8 compliant"
Adhere to the Style Guide for Python Code

[2018-10-06 03:49] avnish98 commented on #7
I would like to work on this one

[2018-10-09 17:14] Rentier commented on #7
Sorry, it will be easier if I reformat the repo all at once on my own.

[2018-10-09 17:56] #6 closed

[2018-10-09 17:57] Rentier opened #9 "Add tests for DKPro type system and annotations"
In order to verify that the DKPro typeystem is supported by cassis, the typesystem xml and an example CAS should be added to the tests.

[2018-10-09 23:05] reckart commented on #9
Here is a single type system file for a start which includes most DKPro Core types (not all, but all important ones - i.e. those from the API modules that are part of DKPro Core 1.10.0):

[aggregated-ts.xml.zip](https://github.com/dkpro/dkpro-cassis/files/2462510/aggregated-ts.xml.zip)

[2018-10-10 04:13] avnish98 commented on #7
@Rentier Oh okay, that's good.

[2018-10-10 07:10] Rentier commented on #9
Right now, it fails because `uima.tcas.DocumentAnnotation` is missing. Is it also a predefined annotation like `uima.tcas.DocumentAnnotation` and `uima.tcas.DocumentAnnotation`?

[2018-10-10 08:44] reckart commented on #9
@Rentier I have tried extracting most of the "internal" type system of UIMA. Mind this is only an indicative type system XML file to give you an easier overview of how UIMA initializes the type system of an empty CAS. The file itself can actually not be loaded with Java UIMA - UIMA would complain during loading.

[uima-internal-ts.xml.zip](https://github.com/dkpro/dkpro-cassis/files/2463852/uima-i

[2018-10-10 09:31] reckart commented on #9
Note that the TS does not include any built-in types which do **not** have a parent type. That's specifically the `uima.cas.TOP` type.

[2018-10-15 10:05] karmalet opened #10 "Parsing Error with WebAnno UIMA XMI format"
Hello, cassis team,

I need to parse a XMI file, which is produced by [WebAnno](https://webanno.github.io/webanno/) in Python.
I'm totally new to UIMA or XMI format, so it was lucky for me to discover Casis. Thank you developers.

Unfortunately, the code snippet provided (https://github.com/dkpro/dkpro-cassis#selecting-annotations) doesn't work well for the attached file below.

When I load the fi

[2018-10-15 15:19] Rentier commented on #9
I found that when I serialize an UIMA Cas then it always creates a `uima.tcas.DocumentAnnotation` in both cas and type system. Therefore I do not add it to the predefined types.

[2018-10-15 17:09] Rentier commented on #9
I do not serialize predefined types and features.

[2018-10-16 17:52] Rentier opened #12 "Add proper DocumentMetaData support"
Right now, `DocumentMetaData` is treated as an ordinary annotation. It would be better to parse it specially right into fields that can be queried from the CAS. This has several reason:

- It should only exist once. Assuming it is always the first annotation makes implementation easier.
- It is normally serialized as the first annotation. Adding extra handling makes it easier, because the other an

[2018-10-16 17:57] Rentier commented on #9
I added the type system support, I wait for @reckart to give me some CAS XMI that contains one of each DKPro annotation (or as many different types as possible).

[2018-10-16 18:06] Rentier commented on #10
The problem is that I assumed that the sofa of an annotation is referenced by the `sofaNum`, but it looks like it is the `xmi:id` of a sofa. Long story short: I fixed it. Thank you for the lovely message, luckily my Chinese was good enough for that.

[2018-10-16 18:59] reckart commented on #12
The following cases are possible:
* CAS contains exactly one `org.apache.uima.jcas.tcas.DocumentAnnotation` annotation
* CAS contains more than one `org.apache.uima.jcas.tcas.DocumentAnnotation` annotation (in DKPro Core, this would be considered a bug, but there is nothing in UIMA Core preventing this scenario)
* first or second case, just that it is actually a subclass of `DocumentAnnotation` (D

[2018-10-19 18:03] Rentier commented on #10
Fixed in e928fd63e549555a01d8b37bcbefcdfde9502eda.

[2018-10-19 18:03] #10 closed

[2018-10-19 18:04] Rentier commented on #7
More or less fixed by now.

[2018-10-19 18:04] #7 closed

[2018-10-19 18:09] Rentier opened #15 "Fix sorting of annotations without begin and end"
Right now, all annotations are stored in a sorted list ordered by `(begin, end)`. This enables us to use binary search when looking for covered annotations. There is one list for each annotation type. Some annotations do not have `begin` or `end`, these are currently hacked to be sortable by using `(sys.maxsize, sys.maxsize)` as a key. It should be made so that only annotations are put into sorted

[2018-10-19 18:11] Rentier opened #16 "Refactor Cas constructor"
- [x] Compute namespaces instead of storing them
- [x] Do not take a list of annotations, but add a bulk add function
- [x] Do not take a sofa and view list, but add sofa support (see #5)

[2018-10-19 20:04] reckart commented on #15
Annotations that do not have begin/end are called "feature structures" ;)

[2018-10-28 19:56] WeaponXiii opened #18 "Bug: cassis cannot be loaded"
I have created a new virtualenv and installed casis using following commands
[code]
and pip show also recongizes it
[code]
But for some reason it can not be imported
[code]
I have tested the same procedure on this project to install and use other packages ( eg. h5py ) successfully but so far no luck with cassis

[2018-10-29 17:32] Rentier commented on #18
I can reproduce your error, but it is really strange that it does not work. I will write here when it is fixed.

[2018-10-30 16:30] WeaponXiii commented on #18
Yes, it seems like working. Thanks for the quick response.

[2018-10-30 16:30] #18 closed

[2018-10-31 09:16] Rentier opened #19 "Fix CAS XMI namespace serialization"
Right now, the name spaces are repeated for every element which heavily bloats the resulting XMI string:

e.g.

`<cas:View xmlns:cas="http:///uima/cas.ecore" xmlns:chunk="http:///de/tudarmstadt/ukp/dkpro/core/api/syntax/type/chunk.ecore" xmlns:constituent="http:///de/tudarmstadt/ukp/dkpro/core/api/syntax/type/constituent.ecore" xmlns:dependency="http:///de/tudarmstadt/ukp/dkpro/core/api/syntax/typ

[2018-10-31 10:39] #2 closed

[2018-10-31 10:40] Rentier commented on #12
Right now, I do not serialize it at all which is not so good.

[2018-10-31 13:31] Rentier commented on #19
The PR did not fix it, just made it less bloated. Now only used prefixes are duplicated:

`<ns0:DocumentAnnotation xmlns:ns0="tcas" xmlns:xmi="http://www.omg.org/XMI" xmi:id="8" language="x-unspecified" end="47" sofa="1"/>`

[2018-10-31 16:44] Rentier opened #21 "Allow Python 3.5"
Right now, attribute typing is used which is a feature of >= Python3.6:

[code]

This is the difference between Python 3.5 and Python 3.6 support in cassis from what I saw. It is possible to annotate these with comments instead syntax. This should be done in order to support python 3.5.

[2018-11-01 14:18] Rentier commented on #21
CI runs trough with Python 3.5, closing this.

[2018-11-01 14:18] #21 closed

[2018-11-07 16:01] Rentier commented on #19
Sometimes, the last package part of different types is the same, e.g. `de.tudarmstadt.ukp.dkpro.core.api.ner.type.Animal` and `de.tudarmstadt.ukp.dkpro.core.api.metadata.type.DocumentMetaData` would be both mapping to type:XYZ. I fixed it by adding a suffix if that happens.

[2018-11-08 08:08] Rentier commented on #19
Should be working now.

[2018-11-08 08:08] #19 closed

[2018-11-08 08:10] jcklie opened #25 "Take type system into account when adding annotations to CAS"
Right now, the CAS is not aware of the type system. That means, it is possible to add types to a CAS that are not in the type system. It should be the default to validate types to allow only adding types that are in the type system.

[2018-11-08 08:30] Rentier opened #26 "Swap order of assert arguments in unit tests"
When doing asserts in unit tests with `pytest`, the order should be `assert actual == expected`. Right now, the order used is `assert expected == actual` which needs to be changed in order to make the error message correct.

[2018-11-08 16:52] Rentier commented on #16
Done in #27

[2018-11-08 16:52] #16 closed

[2018-11-08 16:59] Rentier commented on #5
Still needs documentation

[2018-11-14 13:43] #5 closed

[2018-11-14 17:24] WeaponXiii opened #30 "Unexpected modification of existing document?"
It looks like cassis is omitting existing XML namespace attributes. Also, it's rewriting xmi:id attribute of preexisting XML Nodes. Is this resulting from getting rid of some form of redundant information? Or is this a bug?

Take a look at the attached documents

[prediction.zip](https://github.com/dkpro/dkpro-cassis/files/2581834/prediction.zip)

[2018-11-14 17:33] WeaponXiii commented on #30
Ok, I got that now. But what about dropping some namespace information. For instance, the request CAS had  xmlns:pos, xmlns:morph etc. but in response CAS it doesn't have such information. Is that also permitted?

[2018-11-14 17:35] reckart commented on #30
IMHO yes because if a namespace is not referenced in an XML file, there is no need to declare it. Note that the actual type system information is not contained in the XMI anyway - it is in the separate typesystem description XML file. Without the typesystem description XML file, the content of the XMI file is hardly interpretable.

[2018-11-14 17:42] WeaponXiii commented on #30
Thanks for the info. It seems like I had a complete misunderstanding of the concept.

[2018-11-14 17:42] #30 closed

[2018-11-14 17:49] reckart commented on #30
Quick example why an XMI cannot be properly interpreted without the typesystem description XML file:

* A numeric feature is represented e.g. as an attribute `num="1"`.
* A reference feature (i.e. a feature which points to another XML element in the XMI file) could also look like `someFooRef="1"`.

Without the information from the typesystem description XML file, you cannot tell if either of the a

[2018-12-06 11:52] Rentier opened #31 "Add version numbers"
Use some library to add semantic versioning numbers and easy version bumping.

[2018-12-06 12:09] Rentier opened #32 "Release 0.1.1 and publish it on pypi"
It would be nice to have a version 0.1.0 to be released

[2018-12-06 13:57] #32 closed

[2018-12-06 13:59] Rentier commented on #31
I will do it by hand.

[2018-12-06 13:59] #31 closed

[2018-12-06 14:04] Rentier opened #34 "Add different docs for last release and master"
Add two documentation links, one for master and one for the last release.

[2018-12-06 14:13] Rentier opened #35 "Update README with package information"
- [ ] Add badges
- [ ] Specify Python version in setup.py

[2018-12-06 14:23] #35 closed

[2019-02-07 03:55] GregSilverman opened #38 "Broken annotation type"
Removing `uima.tcas.DocumentAnnotation` from `_types` property in the TypeSystem class in `typesystem.py` breaks `load_cas_from_xmi`.

This code was removed in a previous commit:

[code]
- [x] Readd `DocumentAnnotation` as predefined type #41
- [x] Support types with no namespace #43

[2019-02-07 08:36] Rentier commented on #38
Can you give me a minimal CAS file that breaks?

[2019-02-07 15:17] GregSilverman commented on #38
This is a full MIMIC (de-identified) CAS and the TypeSystem file for BioMedICUS.

[Archive.zip](https://github.com/dkpro/dkpro-cassis/files/2841431/Archive.zip)

[2019-02-07 18:51] GregSilverman commented on #38
Hi,
I also had to add these types:

[code]

and now, I am getting the error:

[code]

Please advise.

[2019-02-07 19:04] reckart commented on #38
The type system file in your archive does not declare this type - consequently cassis cannot know it. Note that this is also not a built-in UIMA type. So in order to have a complete type system definition, you need to add it to your type system definition XML file.

These are "special" because they do not have a namespace/package declaration. This actually not a good idea because it means that the

[2019-02-07 19:50] GregSilverman commented on #38
@reckart Thanks for the reply. I just added the missing type as per your recommendation.

Regarding the types with no namespace, I have no control over the source code for these - we're using 4-different NLP annotators to compare the system annotations for various tasks. We just need to extract specific annotations.

And, regarding the last error, yes, there should be no sofa feature, which is why

[2019-02-07 19:52] Rentier commented on #38
@GregSilverman Thank you for the report and using dkpro-cassis! I will look into the errors tomorrow and then report back.

[2019-02-07 19:58] GregSilverman commented on #38
@Rentier, it seems very promising for our use case. And while I have background in JVM languages, I have become very lazy and would prefer to stay within the python ecosystem.

[2019-02-07 22:30] GregSilverman commented on #38
Figured out the issue with FSArray and the sofa object: These clinical NLP pipelines define FSArray a bit different (they also have `start` and `end` features for annotated data). I am probably going to fork this project going forward and put all changes there.

[2019-02-07 23:07] reckart commented on #38
@GregSilverman `uima.cas.FSArray` is a feature and inheritance final type in UIMA. It can neither be subclassed nor can additional features be added to it. It seems that something is very odd in that data you have.

[2019-02-07 23:22] GregSilverman commented on #38
@reckart, unless I'm interpreting this incorrectly, in the TypeSystem file I sent, there are several annotation type, such as this that have a rangeType of `FSArray`:

[code]
that have `start` and `end` features in the XMI file. So, I changed the supertype for `FSArray` to `uima.tcas.Annotation`.

[2019-02-07 23:30] GregSilverman commented on #38
As for sofa, a simple search in the XMI within this tag in the XMI file: `<cas:View members="8 13 15" sofa="1"/>` for the `id` you have above the `FSArray` -> 40465 has this in the list.

Again, I may be interpreting this incorrectly, but since this has a sofa feature and since the id for `FSArray` is in the XML tag, I assumed there was some inheritance going on.

Disclaimer: I am fairly new to UI

[2019-02-08 01:44] GregSilverman opened #39 "Implementing support for array features"
I got the BioMedICUS annotations working with cassis.

Now, on to MetaMap. These have an odd way of representing arrays. For example, `StringArray` is represented as

[code]

When processing the XMI, this throws the error that:

[code]

Any suggestions on how to deal with this? Again, the NLP annotator is not in our control, so the data are what they are, for good or bad.

Thanks!

[2019-02-08 01:46] GregSilverman commented on #39
Here is the XMI and TypeSystem files:
[metamap_out 2.zip](https://github.com/dkpro/dkpro-cassis/files/2843315/metamap_out.2.zip)

[2019-02-08 01:54] GregSilverman commented on #39
I could remap all the elements, which for now would be fine, but eventually we will be processing about 50 million free text medical record notes, so I'd really like to implement something to handle this.

I'll do the work if you let me know how to handle this exception (the other two annotator engines look similar to BioMedICUS, so they should be fine).

There is one other annotation type that is

[2019-02-08 02:07] GregSilverman opened #40 "Circular annotations"
Spoke too soon. Both cTAKES and Clamp both have circular annotations (or linked, if you want to get pedantic).

Getting the following error:

[code]

These are definitely legit, and can be viewed in the UIMA CVD.

Any ideas on how to implement, and I will do the work. Again, I could just remove these annotations, especially since we are not interested in them, but when dealing with 50 million x 2

[2019-02-08 07:14] reckart commented on #38
@GregSilverman in your example `biomedicus.v2.Historical` has a feature with the range type `FSArray` and the elements of that array are `biomedicus.v2.ModificationCue`.

In a programming languge, one might write that approximately as:

[code]

So here we have two annotation types: `Historical` and `ModificationCue`. The `FSArray` type itself is a built-in UIMA type which does not inherit from `An

[2019-02-08 07:16] reckart commented on #40
For any of the cases you reported, it would be good to have sample files so we can easily reproduce the problem and test.

[2019-02-08 07:23] reckart commented on #40
We would also happily be accepting pull requests with fixes. Your priorities might allow you to look into fixes in a more timely manner than our priorities allow us.

[2019-02-08 08:16] reckart commented on #38
What you see there is a reference from one feature structure to another. The type inheritance hierarchy cannot be determined by looking at the XMI file - you need to look at the type system descriptor XML file for the inheritance.

[2019-02-08 08:39] jcklie commented on #39
The problem is I think that I did not implement array parsing yet. I try to also look into it today.

[2019-02-08 08:41] jcklie commented on #40
The problem is that cassis resolves inheritance in the type system by topological sort over the inheritance graph, and that is not working with circular inheritance. I would need to see the typesystem for a more educated guess though.

[2019-02-08 08:45] reckart commented on #40
Are we facing a circular inheritance or reference?

I'm pretty sure that circular inheritance would be a mistake in the type system and would cause errors in UIMA as well.

But it is well valid that two types refer to each other, e.g. by declaring features of the respective other type.

[2019-02-08 14:15] jcklie opened #41 "Handle redefining of predefined types"
Some CAS handling frameworks redefine predefined types like `DocumentAnnotation`. In order to not throw the error that the type already exists, it would be nice to check whether they are exactly the same type and then ignore it. Also, it would be nice to also redefine this type on export again to keep the type system as is.

[2019-02-08 14:23] reckart commented on #41
Among the type provided by the UIMA framework, `DocumentAnnotation` has a special role because it is not really built-in. It comes with the framework but is defined in a separate JAR which needs to be included specifically. Users can also not use the official JAR but use their own. Additionally, it is not feature or inheritance final, which means it can be subject to extension via type system merg

[2019-02-08 14:25] jcklie commented on #41
I will handle the idiosyncrasies of `DocumentAnnotation` in #12 . For this PR, I just wanted to make sure that we can read type systems with and without its definition.

[2019-02-08 15:15] jcklie commented on #38
@GregSilverman I see three bugs in this issue, I try to address them one by one (I edited your first post for keeping track).

[2019-02-08 15:20] jcklie opened #43 "Support types with no namespace"
**Is your feature request related to a problem? Please describe.**
Some UIMA CAS handling frameworks define type systems with types that have no namespace, e.g.

        <typeDescription>
            <name>ArtifactID</name>
            <description>A unique artifact identifier.</description>
            <supertypeName>uima.cas.TOP</supertypeName>
            <features>
                <featureDesc

[2019-02-08 15:44] GregSilverman commented on #39
Great, I thought it was that simple.

[2019-02-08 15:47] GregSilverman commented on #40
This is referential. For the short term I will disable this check. I will also shoot you the TypeSystem file  in due course. (I know I am bombarding you with issues!)

[2019-02-08 16:46] reckart commented on #43
Where does this `uima.noNamespace.` actually come from?

[2019-02-08 16:53] jcklie commented on #43
From the CAS namespace.

[2019-02-08 17:50] jcklie commented on #38
For me, your CAS now loads with the most recent master. Can this issue then be closed?

[2019-02-08 17:51] #41 closed

[2019-02-08 18:01] GregSilverman commented on #38
Yes, definitely. My local fix to the version installed via pip works and I can grab the latest commit of master later. Thanks!

[2019-02-08 18:01] GregSilverman commented on #38
Yes, definitely. My local fix to the version installed via pip works and I can grab the latest commit of master later. Thanks!

[2019-02-08 18:13] GregSilverman commented on #40
Here's a CAS and TypeSystem definition for circular reference. To move forward, I changed the definition in the TypeSystem file to be `String`, since I don't care about these annotations.
[ctakes_out.zip](https://github.com/dkpro/dkpro-cassis/files/2846317/ctakes_out.zip)

As always, thanks for the prompt response.

[2019-02-08 19:01] GregSilverman commented on #38
@reckart, yes, I figured that out later after I posted this last night.

[2019-02-08 19:11] reckart commented on #43
Looking at the UIMA source code, this seems to be a specific thing of the XMI serialization. When parsing the deserializing the XMI, this is dropped. I think it would be good if cassis did the same thing.

[2019-02-08 21:06] GregSilverman opened #45 "Support feature structures referencing other feature structures"
**Describe the bug**

We have an annotation type that has a feature structure that is referenced via a feature/attribute, but the feature structure is not being displayed in the loaded CAS object.

**To Reproduce**

I am able to query the annotation type just fine, but the feature structure does not show up when I do a `load_cas_from_xmi`

Annotation type in question is: `textsem:MedicationMention

[2019-02-08 21:49] GregSilverman commented on #45
NB: the type is getting loaded when I do
[code]

`Type(name='org.apache.ctakes.typesystem.type.refsem.UmlsConcept', supertypeName='org.apache.ctakes.typesystem.type.refsem.OntologyConcept', description='Concepts in the Unified Medical Language System (UMLS) Metathesaurus have a concept unique identifier (CUI) and a type unique identifier (TUI, i.e., semantic type) which are curated, normalized cod

[2019-02-08 22:50] jcklie commented on #45
Thank you for the report! I will look into it as soon I have time. I sadly am on a conference next week, so I do not know when that will be.

[2019-02-08 23:09] GregSilverman commented on #39
@jcklie, any word on this.

If you have a method in mind as how to implement this, please let me know what it is so that  I can proceed with it. I saw that you are on conference next week, so I realize you are very busy. Unfortunately, I need this very soon, since we have a pending publication submission deadline, so I will gladly work on implementing this.

The other option would be for me to man

[2019-02-08 23:20] jcklie commented on #45
I think that one would implement a function to check whether a feature is an array type. This can then be used in the xmi reader when deserializing: If the range type of your feature is of array type, split the attribute text and save the ids somewhere. At the end, you need to look up the annotations with the ids and fill them in.

[2019-02-08 23:22] jcklie commented on #39
You would need to change the deserialization XML iterparseloop in `CasXmiDeserializer:deserialize` to also include start events. Then when you get a start event while you are already looking at a feature, then it has to be an array element. You accumulate these in the loop, when you get an end event, you can call the `self._parse_annotation(typesystem, elem)` and also parse the elements. I think t

[2019-02-08 23:36] GregSilverman commented on #39
Yes it does make sense. I was thinking a list of dictionaries would be the way to do it.

I just glanced at the code and while not completely straightforward, it seems doable. I'll have to read up on the `etree` xml parse stuff (I've used it before, but it's been a while).

[2019-02-08 23:49] jcklie commented on #39
I think it is a dictionary of lists. I also recommend you to add a unit test as early as possible.

[2019-02-09 00:10] GregSilverman commented on #39
Got it. I just looked at the `start` and `end` events for all the types. This seem quite doable. I can hopefully get this done in the next few days.

[2019-02-09 03:11] GregSilverman commented on #39
This is what I have so far:

[code]

I'll work on adding the `_parse_annotation` bit tomorrow and add some tests.

[2019-02-09 16:25] GregSilverman commented on #39
@jcklie , I was able to grab these, but then ran into a whole slew of problems with other feature structures not being read in. Given that time is of the essence, I am going to go the "back to Java" route, which is rather disappointing, but that's life.

[2019-02-10 17:21] GregSilverman commented on #39
Okay, so I did not give up! I figured out that the `start` event was somehow screwing up the CAS structure in the XMI, which is why I was getting spurious results using the above code when I added in the `parse_annotations`.

So, instead of using `start` and `end` tags, I decided to use the `get parent`, `text` and `tag` methods to define whether something was an annotation or an child of an annot

[2019-02-11 02:57] GregSilverman commented on #39
@jcklie, I've now accumulated the features for each annotation with an array. Th next step is to figure out how to deal with the parsing bit. I could do each annotation as a default dictionary, which zi think makes most sense. Anyway, this is what I have too far:

[code]

[2019-02-11 03:00] GregSilverman commented on #39
Oh, and I really don't like my test for the end of an annotation, but I can't see any other way to do this.

[2019-02-11 15:43] GregSilverman commented on #39
I'm now not sure what to do post this:

[code]

I'll play around with this and reassemble the dictionary with the renamed key to see how passing around an annotation as a dictionary behaves.

[2019-02-11 18:44] GregSilverman commented on #39
Have to change the data structure that I am passing to `_parse_annotations` due to issue making list from `elem` data type. If I do an `elem.text` for a feature before appending `elem` to a list then it displayed the text, but once I append `elem` to a list of features then when I iterate through the list as in

[code]

the value for the text is gone. It must be some issue with storing it in memor

[2019-02-11 20:39] GregSilverman commented on #39
So, this is what I ended up doing in the deserialize method:

[code]

and it now is usable in the `_parse_annotations` method:

[code]

[2019-02-11 21:09] GregSilverman commented on #39
Yes! Got it! I will clean up the code and add some tests. Then I can submit a pull request with the changes.

[2019-02-11 21:10] GregSilverman commented on #39
Yes! Got it! I will clean up the code and add some tests. Then I can submit a pull request with the changes.

[2019-02-11 23:54] GregSilverman commented on #45
@jcklie, I will take a look at this as per your suggestion. Any ideas as how to save the ids listed in the array for lookup, would be most welcome.

[2019-02-12 15:32] GregSilverman commented on #39
Sent pull request

[2019-02-13 02:52] GregSilverman commented on #45
Got a working solution for this. I need to do some more testing and to also expand this beyond use of `rangeTypeName` of `Array` type, since there are other features that have this foreign-key like behavior where the xmi:Id is not in the sofa lookup list.

[2019-02-15 23:37] GregSilverman opened #48 "Inconsistent xmiID"
**Describe the bug**

`xmiID` is getting changed somewhere along the way.

**To Reproduce**

Add the following line to the end of _parse_annotations:

[code]

With included XMI and Typesystem files, run the following:

[code]

You will see:

[code]

The `xmiID`s are not the same (they should be, since they are the first set of annotations for this type).

**Expected behavior**

Expect the output `

[2019-02-16 00:01] jcklie commented on #48
XMI ids are internal IDs and even in Java by default are not kept over importing -> exporting.

[2019-02-16 00:15] GregSilverman commented on #48
What about the case when the xmiID is used for linking to another annotation type?

[2019-02-16 00:24] jcklie commented on #48
The ids are consistent inside a document. Both would change to stay in sync.

[2019-02-16 00:29] GregSilverman commented on #48
The ids are actually listed in an array with a different name. For example, the array is named `ontologyConceptArr` and has the original `xmiID`s listed.  These did not change to stay in sync, and thus the mapping got lost.

[2019-02-16 00:32] jcklie commented on #48
Ah, sry. We need to change that. Before the reference support from you, I never touched these ids so I overlooked that issue. Thank you for reporting!

[2019-02-17 00:45] GregSilverman commented on #48
Hi, if you could give me an idea of how to implement this where the xml:id gets used like other attributes, I can try to modify the code.

I'm thinking it would be good to have a switch where the user can specify if they want to use the default auto incremented id, or to use the one as given in the original CAS XMI. This is rather critical for our current experiment, since we need to resolve the r

[2019-02-17 05:58] reckart commented on #48
In the core UIMA framework, references between feature structures are essentially turned into object references on import. And when the data is exported again to XMI, then new IDs are generated as part of the export process. If users need stable IDs for feature structures (beyond the need of modelling object references) across import/export, the idea is usually that they add a "id" feature to the

[2019-02-17 17:08] GregSilverman commented on #48
Thanks for the explanation. It makes sense.  With that, I was able to add a kludge for this. I added `id` as a feature to the type in question and under `_parse_annotations,` I added the conditional:

[code]

I did try a more general solution of if `"id" in attributes`, but for some reason that did not work.

[2019-02-17 17:08] #48 closed

[2019-02-18 14:02] jcklie opened #49 "Add test files from uimaj"
It would be nice to add the test files that UIMA uses to the cassis test suite.
Tests can be found under e.g. https://github.com/apache/uima-uimaj/blob/a68b57a8eaca2ee5392903d8f2f86bca5df08054/uimaj-core/src/test/java/org/apache/uima/cas/impl/XmiCasDeserializerTest.java

Files can e.g. be found under
https://github.com/apache/uima-uimaj/tree/a68b57a8eaca2ee5392903d8f2f86bca5df08054/uimaj-core/src/

[2019-02-18 15:33] jcklie commented on #39
Your files work for me now in master. Can this be closed now?

[2019-02-18 15:35] jcklie opened #51 "Rename `Annotation` to `FeatureStructure`"
When I started this project, I thought everything in a CAS is an annotation. That is not the case, the basis should be feature structure. In order to fix the naming, it is necessary to rename class and argument names.

[2019-02-18 15:51] GregSilverman commented on #39
Thanks!

[2019-02-18 15:51] #39 closed

[2019-02-18 15:58] jcklie commented on #40
I tried your file and cannot reproduce that error in master. Did you already adjust it to work?

[2019-02-18 15:59] #51 closed

[2019-02-18 18:29] GregSilverman commented on #40
I must have sent you the wrong TypeSystem file. Let's close this for now, especially since, at this time, I don't need the annotations for these types.

[2019-02-18 18:29] #40 closed

[2019-02-20 09:46] jcklie commented on #45
@GregSilverman I added support for references to master. The issue that you do not get `org.apache.ctakes.typesystem.type.refsem.UmlsConcept` get back is a follow up problem which I will tackle next with #15 .

[2019-02-20 10:39] jcklie commented on #45
I checked, I already perform select like it should be. The issue is that the `UmlsConcept` is not in a view, therefore, you need to select the feature structures that are referencing it.

[code]

[2019-02-20 15:24] GregSilverman commented on #45
@jcklie , I can make a push request with my code that fixed this issue.

[2019-02-20 15:26] jcklie commented on #45
I also already fixed it I think.

[2019-02-20 15:30] GregSilverman commented on #45
I'll make the PR anyway, just for your amusement.

[2019-02-20 15:43] jcklie commented on #45
@GregSilverman Thank you! Can you try whether the master works for you now? If yes, then I would prepare a release, if not, then I would continue fixing it.

[2019-02-20 15:53] GregSilverman commented on #45
Yes, I should be able to do so later today.

[2019-02-21 03:31] GregSilverman commented on #45
Got a little side tracked. I should be able to get to this in the next couple days. It is a priority, but is in a long list of items slowly getting checked off...

[2019-02-23 20:17] GregSilverman commented on #45
More side tracked. It might be a while before I get to testing this, since I am deep in an experiment. It has been shifted down in priority, since everything I need is functional as of this moment.

[2019-04-17 19:55] GregSilverman commented on #45
Hi sorry about the delay. I should be able to get to this very soon.

[2019-05-06 22:56] GregSilverman commented on #45
Am on it now. Time away from it has made everything seem VERY unfamiliar.

[2019-05-07 01:42] GregSilverman commented on #38
Hi there!

Revisiting this, I grabbed the latest commit and am trying to get this working on the enclosed CAS and type system file.

When I run this:

[code]

I get the error `AttributeError: 'org_apache_ctakes_typesystem_type_structured_DocumentID' object has no attribute 'sofa'` similar to the one above.

I thought this had been fixed as per this issue?

Thanks!

[ctakes_example_error_sofa.zip](

[2019-05-09 20:48] jcklie opened #56 "Loading a type system in which a child type redefines a parent type throws."
**Describe the bug**
Loading a type system in which a child type redefines a parent type throws.

**To Reproduce**
Steps to reproduce the behavior:
1. Loading a type system in which a child type redefines a parent type.
2. See the error

**Expected behavior**
No error

[2019-05-09 21:20] jcklie commented on #38
@GregSilverman For me, I did not get the error you describe in master. I encountered an edge case due to your type system redefining a feature called `ontologyConceptArr`, I think that you should not redefine that. I added code to handle this case, it is already in master. With the latest master, your file loads for me.

[2019-05-09 22:41] GregSilverman commented on #38
Thanks for looking at this @jcklie. Interesting. Perhaps the fact that I installed this using the pypi version was the issue? Anyway, I will try it later.

[2019-05-10 07:08] jcklie commented on #38
@GregSilverman Yes, it is not on pypi but in cassis master. I am waiting for your go that I can release the next version, as I do not want to release something that is broken for you (again).

[2019-05-12 02:40] GregSilverman commented on #38
Got it... I'll have need again very soon for deserializing some more CAS objects. For this last one just now, I just used the changes I had previously made locally, since I have a self-imposed deadline.

[2019-07-04 18:58] GregSilverman commented on #45
Hi, finally back to use of this for a project.

I wanted to check about issue #48. Do I need to still add an `id` attribute to the annotation type that gets linked to the annotation with the linking `id` in it? We just ran across this issue in an inception schema we implemented.

So, here is an annotation type with a linked id in it:

`webanno_custom_StressfulEventStressLink(xmiID=397, role='Causa

[2019-07-05 07:41] jcklie commented on #45
The ids still are not preserved over a serializing/deserializing cycle but they are still pointing to the same annotations. With the newest chagnes, `link.target` would be the actual annotation, not an ID. I do not understand your example, as there are no pairs of ids that are the same, are they? You need to check master, yes.

[2019-07-05 14:17] GregSilverman commented on #45
Got it. Thanks. Sorry about eh nonsensical example. I just updated the linking ids, accordingly..

[2019-07-09 14:55] GregSilverman commented on #45
@jcklie In the original example, `link.target` and the `xmiid` it was pointing to were not preserved. That is what I wanted to show. I updated the example to what I wanted to achieve.

This is my desired:

`webanno_custom_StressfulEventStressLink(xmiID=397, role='Causality', target='385', type='webanno.custom.StressfulEventStressLink')`

and here is the `to` part of the relationship annotation typ

[2019-07-09 14:58] GregSilverman commented on #45
Again, see #48 for details. Thanks!

[2019-07-09 16:32] GregSilverman commented on #45
Mea culpa. I was in the wrong virtualenv. I will try doing the linkage from the code from master.

[2019-07-17 13:35] GregSilverman commented on #45
Hi, I just wanted to confirm that #48 is fixed. We just tested it on a set of documents annotated in inception. I should be able to test the fixes outlined for this issue in the next couple weeks.

[2019-07-17 13:45] jcklie commented on #56
We now log when this happens in case the definition is the same and error if it is not.

[2019-07-17 13:45] #56 closed

[2019-07-17 13:48] jcklie opened #58 "Release 0.2.0"
Release 0.2.0 containing several improvements and bug fixes.

[2019-07-17 15:54] Br0ce opened #60 "while deserializing xmi: AttributeError ... object has no attribute 'sofa"
deserializing xmi with myType and its supertypeName=`uima.cas.TOP`
an AttributeError: myType object has no attribute 'sofa'
...
/cassis/cas.py", line 169, in add_annotation
    annotation.sofa = self.get_sofa().xmiID

is raised.

(Please note that processing xmi in java is not an issue)

[2019-07-17 15:58] jcklie commented on #60
Hello,
thank you for using cassis and reporting this isse. Can you tell me which version you are using and send me a minimal typesystem and CAS which triggers the bug?

[2019-07-17 18:21] reckart commented on #60
`uima.cas.TOP` doesn't have a feature called `sofa` - it is only introduced by `uima.cas.AnnotationBase`.

[2019-07-17 21:44] jcklie commented on #58
I released 0.2.0-rc1 and wait for more user feedback until I release 0.2.0.

[2019-07-18 07:25] Br0ce commented on #60
Thx for fast reply,

I will assemble a minimal typesystem.

Meanwhile, with regard to @reckart, it should not be an AttributeError, that Type `uima.cas.TOP` doesn't have an attribute `sofa`.

( In this case, as far as I can see, in `Cas.add_annotations`
`if hasattr(annotation, "sofa"):` should be `False` )

[2019-07-18 09:19] Br0ce commented on #60
Hi @jcklie,
I'm using dkpro-cassis version 0.1.1.
Attached to this post is a TypesSystem and a XMI (extended filename by .txt to support upload).
Deserializing the XMI raises the AttributeError.
Thx
[TypeSystem.xml.txt](https://github.com/dkpro/dkpro-cassis/files/3405718/TypeSystem.xml.txt)
[Example.cas.xmi.txt](https://github.com/dkpro/dkpro-cassis/files/3405723/Example.cas.xmi.txt)

[2019-07-18 09:28] jcklie commented on #60
In[ 0.2.0-rc1](https://pypi.org/project/dkpro-cassis/0.2.0rc1/), this works for me except that you redefine `DocumentAnnotation`, which I need to fix (see #12).

[2019-07-18 09:40] Br0ce commented on #60
Ah, ok. All good now.
Thank you.

[2019-07-18 09:43] jcklie commented on #60
I will fix #12 this week or so and then you can try the next release candidate.

[2019-07-18 10:48] Br0ce commented on #60
appreciate!

[2019-07-18 10:48] #60 closed

[2019-07-21 11:44] jcklie commented on #12
I made it so that we do not crash if a type system already defines custom `DocumentAnnotation`.

[2019-07-21 11:51] jcklie commented on #38
For me this works in master and 0.2.0-rc1. I will close this now. Please open a new issue if this error still persists.

[2019-07-21 11:51] #38 closed

[2019-07-21 11:52] jcklie commented on #45
For me this works in master and 0.2.0-rc1. I will close this now. Please reopen this issue if this error still persists.

[2019-07-21 11:52] #45 closed

[2019-07-23 08:00] Br0ce commented on #12
@jcklie tested with and without `DocumentAnnotation`. Looks good to me.

[2019-07-25 07:20] jcklie opened #62 "Allow circular dependencies between ranges and supertypes"
**Is your feature request related to a problem? Please describe.**
Right now, the `dkpro-xml` type system cannot be parsed, as there is a circular dependency somewhere

[code]

**Describe the solution you'd like**
Build it so it works.

[2019-07-25 12:38] #62 closed

[2019-09-06 12:54] HerrKrishna opened #64 "Reading xmi then writing again results in broken xmi file."
If I load the attached xmi via load_cas_from_xmi and then use to_xmi without changing anything in the cas, INCePTION can not read the new xmi file.

[Bundestag_08-7.zip](https://github.com/dkpro/dkpro-cassis/files/3583846/Bundestag_08-7.zip)

**To Reproduce**
Steps to reproduce the behavior:

[code]

Then import test_cas.xmi into INCEpTION

**Expected behavior**
I would expect Inception to import

[2019-09-09 10:57] jcklie commented on #64
Thank you for using cassis and the error report! I am having a look right now what is going wrong there.

[2019-09-09 14:34] HerrKrishna commented on #64
The issue worked itself out, by ugrading to Inception version 0.11.
I used version 0.9.1 before.
Sorry for bothering.

[2019-09-09 14:36] reckart commented on #64
Hm. The new INCEpTION version imports XMIs leniently again - meaning that it silently discards data it cannot read. The bug in cassis exists nevertheless I would say, right @jcklie ?

[2019-09-09 15:03] jcklie commented on #64
It is a real bug in cassis and I fixed it just now.

[2019-09-10 07:46] jcklie commented on #64
I released 0.2.1, it hopefully should be fixed there.

[2019-09-10 07:46] #64 closed

[2019-09-26 02:17] GregSilverman opened #66 "Checking whether a feature is a collection is wrong for some collections"
**Describe the bug**

Had to modify this chunk of code in `CasXmiDeserializer` (@ line 151 in `xmi.py`) to make it partially work:

[code]

**To Reproduce**
Run current version of cassis on attached files with this script (attached test.zip to reproduce errors):

[test.zip](https://github.com/dkpro/dkpro-cassis/files/3655560/test.zip)

[code]

**Expected behavior**

-> Expect arrays of all types t

[2019-09-26 02:18] GregSilverman commented on #66
[test.zip](https://github.com/dkpro/dkpro-cassis/files/3655562/test.zip)

[2019-09-27 17:28] GregSilverman commented on #66
Forgot to attached errors!

Adding `if isinstance(value, int):` to the `else` statement fixes:

[code]

and adding `and isinstance(value, str):` to the conditional `if typesystem.is_collection(feature.rangeTypeName):` fixes:

[code]

[2019-10-05 01:03] GregSilverman commented on #66
Hi there! :-)

[2019-10-08 11:37] jcklie commented on #66
I am a bit busy right now, so I will try to have a look soon.

[2019-10-08 19:26] GregSilverman commented on #66
@jcklie , no problem. Just thought I would let you know what I'm encountering, now that I have time to actually test this.

Speaking of which, related to the above error, for the enclosed CAS XMI I am getting a key error.

This "fix" seems to work for getting the annotations I need out of this file:

[code]

[278_AB.txt.xmi.zip](https://github.com/dkpro/dkpro-cassis/files/3704181/278_AB.txt.xmi.zi

[2019-10-16 15:40] #58 closed

[2019-10-16 15:41] jcklie opened #67 "Creating cas without typesystem shares the default typesystem"
**Describe the bug**
Creating cas without typesystem shares the default typesystem

**To Reproduce**
Steps to reproduce the behavior:
1. Create two casses with `cas1 = Cas(); cas2 = Cas()`
2. Add a new type to both
3. Error is thrown due to duplicate type

**Expected behavior**
Casses both have different type system

[2019-10-16 15:42] jcklie opened #68 "Add function to select first covering annotation"
**Is your feature request related to a problem? Please describe.**
It is annoying to get the first covering annotation e.g. of a sentence.

**Describe the solution you'd like**
Add function to select first covering annotation

[2019-10-16 15:58] reckart commented on #68
What is the "first covering annotation"?

[2019-10-16 17:10] jcklie commented on #68
Right now, select covering returns an iterator. In Python it is really hard to check whether there is something behind this iterator. So I wand select_covering_first or so e.g. when a sentence is completely covered by an annotation.

[2019-10-16 17:11] jcklie commented on #67
[code]

In Python, the default parameter is shared globally. That is bad because it is mutable.

[2019-10-16 17:15] jcklie commented on #67
The default type system is empty except predefined UIMA types

[2019-10-16 17:28] reckart commented on #68
Ok, I see that Python has no `hasNext()` method, but you check whether the `next()` method throws `StopIteration`. Of course calling `next()` consumes an item from the iterator - but I guess you could return an iterable object from `select` instead of an iterator (i.e. some class which implements `iter()`?

[2019-10-16 17:29] reckart commented on #68
In Java UIMAv3, you would write something like `cas.select(MyType).limit(1)` which conveniently returns an `Iterable` object so it can be used in extended loops.

[2019-10-16 17:31] reckart commented on #67
thanks :)

[2019-10-16 17:33] reckart commented on #67
Does Cassis allow to change the type system after a CAS has been created? If yes, you might care to advertise this somewhere because one of the things people tend find limiting about the Java implementation is that the the type system cannot be changed after the CAS has been initialized, in particular no types can be added and no features can be added to types.

[2019-10-16 17:50] jcklie opened #69 "Document that you can change the typesystem after creating it"
**Is your feature request related to a problem? Please describe.**
Advertise this somewhere because one of the things people tend find limiting about the Java implementation is that the the type system cannot be changed after the CAS has been initialized, in particular no types can be added and no features can be added to types.

**Describe the solution you'd like**
Write it in the readme.

**Addi

[2019-10-21 13:04] geniki opened #70 "XMI serialising throws if CAS contains reference to empty array"
**Describe the bug**
I exported a simple test case from WebAnno 3.6 (no custom tags, only the default ones from WebAnno), which I read using `cassis`. Trying to serialise it again results in an error.

**To Reproduce**
[code]

If possible, attach a minimal file that triggers the error.
[webanno_test_case.zip](https://github.com/dkpro/dkpro-cassis/files/3750843/webanno_test_case.zip)

**Expected be

[2019-10-22 15:16] jcklie commented on #70
Thank you for the report! I can reproduce the error and will have a look. Btw, you do not need `path=None` when serialising.

[2019-10-22 17:02] jcklie opened #73 "Add get_covered_text method to Annotations"
**Is your feature request related to a problem? Please describe.**
Right now, in order to get the covered text, one has to call `cas.get_covered_text(annotation)`. That is not nice and different from Java.

**Describe the solution you'd like**
Use `annotation.get_covered_text()`

**Additional context**
If the annotation is a feature structure, i.e. does not cover text, an exception should be throw

[2019-10-22 18:21] jcklie commented on #66
The problem (or at least one problem) was that sometimes the check for whether a feature is a collection was wrong.

[2019-10-22 18:40] jcklie commented on #66
@GregSilverman Can you check bugfix/66-check-more-collections ?

[2019-10-22 19:07] #69 closed

[2019-10-22 19:13] jcklie commented on #70
It should be fixed in master, I will try to release a new version this or next week. You can just use the master via pip using ` python -m pip install git+https://github.com/dkpro/dkpro-cassis`

[2019-10-22 19:13] #70 closed

[2019-10-22 19:31] #73 closed

[2019-10-24 17:53] GregSilverman commented on #66
@jcklie , yes, will do.

[2019-10-24 18:24] dmitriydligach opened #77 "ValueError when reading a type system file that redefines a feature"
**Describe the bug**

First of all, thank you very much for creating this useful tool.

Unfortunately, I stumble when I try to load the cTAKES (https://ctakes.apache.org) type system:

https://svn.apache.org/repos/asf/ctakes/trunk/ctakes-type-system/src/main/resources/org/apache/ctakes/typesystem/types/TypeSystem.xml

I get the following error:

ValueError: Feature with name [value] already exists

[2019-10-24 18:31] reckart commented on #77
@dmitriydligach the cTAKES type system declares the following type twice:

[code]

IMHO this is something cTAKES should have a look at and clean up.

@jcklie UIMA "merges" type systems - so if there are multiple declarations of a type that do not conflict with each other, it just overlays them - including redundantly defined features. Thus, the Java UIMA doesn't choke on this one.

[2019-10-24 18:33] reckart commented on #77
@dmitriydligach actually, looking at the link you provided to the type system, it seems that quite a few types are redundantly declared - so you'd have to remove all the duplicate declarations for the time being before using cassis.

[2019-10-24 19:33] jcklie commented on #77
I already merge it for redefining types, the problem here is redefining features.

[2019-10-24 19:37] jcklie commented on #77
It should be fixed in master, I will try to release a new version this or next week. You can just use the master via pip using python -m pip install git+https://github.com/dkpro/dkpro-cassis

[2019-10-24 19:37] #77 closed

[2019-10-24 20:51] dmitriydligach commented on #77
@reckart @jcklie Thank you very much for your help! I removed all the duplicate types from the type system file (you're right -- there were quite a few). I am now able to read the type system using load_typesystem(...). Looking forward to exploring this software further. Thanks again.

[2019-10-24 21:10] dmitriydligach opened #79 "Error when reading XMI files with sofaURI"
I'm trying to read one of my XMI files that I've always been able to read successfully in the past using Java UimaFit tools. I run the following code:

[code]

[code]

and I get this error:

[code]

Any thoughts what's causing it? Thank you very much in advance.

[2019-10-24 21:27] jcklie commented on #79
Can you give me a minimal xmi and typesystem that fails?

[2019-10-24 21:28] dmitriydligach commented on #79
I can give you the typesystem if it helps, but unfortunately I can't give you the XMI files (it has patient information)...

[2019-10-24 21:31] jcklie commented on #79
Can you give me a xmi which only contains the sofa? I need to see the attributes on there, the sofa text can be removed.

[2019-10-24 21:41] jcklie commented on #79
I assume that the problem is that your xmi uses a sofa with `sofaURI`. I did not have an example for what that implies, therefore I did not implement it. Are the annotations in the xmi or in a different file? If they are in the same file, you could just try to remove that attribute.

[2019-10-24 21:53] dmitriydligach commented on #79
HI Jan-Christoph. I will think about a way to remove the text from these XMIs tomorrow (sorry, I've never looked at the XMI files directly -- I always relied on UimaFit to read them).

These XMI files have multiple views (_InitialView, UriView, and GoldView -- which stores manual annotations). I'll see if I can find the Java code that was used to generated these XMI files.

Thanks for your help.

[2019-10-24 22:12] jcklie commented on #79
I looked around a bit, maybe is enough to know whether the views have `sofaURI` and `sofaString` or just `sofaURI`. Is the text you annotated outside of your XMI?

[2019-10-24 22:13] reckart commented on #79
@dmitriydligach after you have loaded them with uimaFIT, how do you access the document text - or do you not access it at all?

[2019-10-24 22:28] reckart commented on #79
AFAIK sofaString and sofaURI are mutually exclusive.

[2019-10-25 00:19] dmitriydligach commented on #79
@jcklie @reckart Maybe it would be useful to give you some sample code that I've used to access the annotations in these XMI files:

https://svn.apache.org/repos/asf/ctakes/trunk/ctakes-temporal/src/main/java/org/apache/ctakes/temporal/data/analysis/GoldRelationViewer.java

And yes, the document text is in the XMIs. I access it by something like:

timeMention.getCoveredText()

I hope this helps!

[2019-10-25 00:20] dmitriydligach commented on #79
It might also be helpful for you to see the code that was used to generated these XMIs:

https://svn.apache.org/repos/asf/ctakes/trunk/ctakes-temporal/src/main/java/org/apache/ctakes/temporal/eval/Evaluation_ImplBase.java

[2019-10-25 08:24] reckart commented on #79
Ok, so if I understand the ClearTK code correctly....

* they maintain a special view called `UriView` in the CAS which has it's `sofaURI` pointing to some URL
* when loading a CAS from somewhere, they do *not* set the text of the `_defaultView` directly, but instead look at the `UriView`, obtain the text from the URL specified there and *then* set this text into the `_defaultView`.

This is not a

[2019-10-25 16:33] jcklie commented on #79
The error you get should be fixed in master, I will try to release a new version this or next week. You can just use the master via pip using `python -m pip install git+https://github.com/dkpro/dkpro-cassis`

The issue is that your code does some non-standard things. If you load the XMI without any changes into cassis, then you might not have any text. I think that you need to get the sofaURI from

[2019-10-26 16:11] dmitriydligach commented on #79
@jcklie Thank you very much again for looking into this issue.

I performed the following steps:

1. pip install git+https://github.com/dkpro/dkpro-cassis
2.   ts_file = open('TypeSystem.xml', 'rb')
      type_system = load_typesystem(ts_file)
      xmi_file = open('<my local path>/ID169_clinic_496.xmi', 'rb')
      cas = load_cas_from_xmi(xmi_file, typesystem=type_system)

I get the following err

[2019-10-26 17:18] jcklie commented on #79
It looks like your annotation contains a field `id` which is not defined in the typesystem. Sadly I cannot tell you more  without a minimal CAS and typesystem. If you cannot give me the XMI, then can you attach a debugger in pycharm, set an[ breakpoint on exceptions ](https://stackoverflow.com/questions/5839286/break-on-unhandled-exception-in-pycharm)and tell me on which annotation it breaks? Then

[2019-10-26 19:25] reckart commented on #79
UIMA optionally supports "lenient" loading in which any features / types not in the type system are silently dropped. Might be good for cassis to support as well.

[2019-10-28 13:40] dmitriydligach commented on #79
@jcklie Sorry, for the delay. I'm trying to figure out how to give you the XMI file. Please stay tuned. The type system is available here: https://svn.apache.org/repos/asf/ctakes/trunk/ctakes-type-system/src/main/resources/org/apache/ctakes/typesystem/types/TypeSystem.xml

[2019-11-02 18:25] jcklie commented on #67
Same mistake in `load_cas_from_xmi`

[2019-11-02 21:40] jcklie opened #81 "Add more cas select methods"
**Is your feature request related to a problem? Please describe.**
It would be nice to add more cas select methods like `CasUtil` does.

**Describe the solution you'd like**
- [x] select
- [x] selectAll
- [ ] selectCovering
- [x] selectCovered

[2019-11-04 12:20] zesch opened #83 "Shortcut for initializing CAS with a type system"
it would be nice to be able to initialize a CAS with a certain type system, e.g.

[code]

[2019-11-04 12:25] jcklie commented on #83
Do you have a typesystem xml which I can use for that?

[2019-11-04 12:29] jcklie opened #84 "Make creating type classes lazy"
**Is your feature request related to a problem? Please describe.**
Right now, when loading a typesystem, all Python classes representing types in the type system are created, whether they will be used later or not. This is slow for large type systems.

**Describe the solution you'd like**
Make it possible to create a type class when creating an annotation of that type for the first time.

[2019-11-04 12:31] jcklie opened #85 "Allow leniency to CAS deserialization"
**Is your feature request related to a problem? Please describe.**
Right now, when referencing a type in a CAS that is not in the type system, an error is thrown. It would be nice to specify that it should just be ignored.

It has to be determined whether this should be for types or also for features.

**Describe the solution you'd like**
Add a `lenient` flag like uimaj does.

[2019-11-04 12:40] zesch commented on #83
You mean for testing purposes?

I think it would be the job of the other library to provide the initializer. Although for DKPro, Cassis could also provide it directly :)

[2019-11-04 12:46] reckart commented on #83
The idea with the initializer is a bit more than just `load type system X`.

The idea is that the initializer patches the CAS instance with additional methods, e.g.

[code]

... and that we could e.g. have an for DKPro Core and another one for say cTAKES and both would patch the CAS with the same convenience methods but internally resorting to different select statements.

The initializer would wo

[2019-11-04 12:48] jcklie commented on #83
We can provide these methods, I am not sure about the implementation though. My question was:Is there some official DKPro typesystem XML which I can use or can you provide me with some Java Code to generate it to keep it in sync with DKPro?

[2019-11-04 12:55] reckart commented on #83
The "best" solution for this would probably be to use DKPro Meta :)

[2019-11-04 12:56] reckart commented on #83
Well, basically what you do is create a Maven Project which has a dependency on all `dkpro-core-api-**` modules and then call

[code]

[2019-11-04 13:03] reckart commented on #84
Is this a performance optimization?

[2019-11-04 13:06] jcklie commented on #84
Yes

[2019-11-04 17:11] jcklie commented on #83
I would implement it as extending Cas, the constructor loads the DKPro sype system then. Simple and not so magic.

[2019-11-04 17:13] reckart commented on #83
But then we'd end up having to import CAS from different libraries...

[2019-11-04 17:15] jcklie commented on #83
I would add it to cassis, so it is `from cassis import DKProCas`. DKPro to me is an important enough part of the UIMA world to add it to cassis itself.

[2019-11-04 17:21] reckart commented on #83
For the moment, I don't feel very comfortable with this. I don't like the idea of the CAS **becoming** something new just because it contains certain types. The idea of the CAS is that it is a generic data structure. If we subclass it for a particular framework, I feel it goes against this idea.

Actually, the strategy you have shown me OTR for the [Pandas accessors](https://pandas.pydata.org/pand

[2019-11-04 17:23] jcklie commented on #83
Is it ok if we implement this in cassis or should it be part of pydkpro?

[2019-11-04 17:28] reckart commented on #83
I understand that IDEs may not support auto-complete for such extensions. But I wonder if IDEs like PyCharm really **only** do static code analysis or also consider whether a method has actually been called somewhere before. E.g. if I call method `x.foo()` once and later I type `y.f...` (where `y` is of the same type as `x`), then it would be reasonable to offer `foo()` in the auto complete (witho

[2019-11-04 17:33] jcklie commented on #83
Pycharm offers some auto completion based on what was called before (the typing is limited then) and there are stub files where you can maybe add more information: https://mypy.readthedocs.io/en/latest/stubs.html . But it does not know that there is an extension, as it is added at run time (except when I just add it as a field to cassis and throw an error if it is not compatible).

[2019-11-04 17:36] reckart commented on #83
The idea of involving cassis came to me because I though we should/could pass the type system "strategy" to the constructor - i.e. cassis would somehow have to understand the strategy and react to it. If we use a completely different mechanism which does not require cassis to be aware of the mechanism, it could be done elsewhere.

A compromise between subtyping and adding dynamically might be a ge

[2019-11-04 19:11] jcklie commented on #83
I think we need features from Python 3.8 for that and even then I am unsure. So what we have now is:

1. Use the pandas extensions style and have no type hints, let pydkpro implement this. Other people can add nice cas extensions
2. Hardcode dkpro, ctakes and more as cas extensions into cassis so that we have type support. Throw an error if the Cas does not conform when using these
3. Why not both

[2019-11-04 19:14] jcklie commented on #83
I think this issue contains two things, the DKPro type system and extension. I will track the type system stuff in #11 .

[2019-11-05 17:19] aggarwalpiush opened #87 "High level helper functions for extracting typesystem independent annotations"
Hi,

We are trying to extract token's text_strings and pos tags from cas objects. Also, different type systems lead to return different pos tags formats. @zesch Please correct me here if I am wrong.
It would be great to have some helper functions (some are shown in the below examples) that could solve these requests.

For example for the given ```cas``` object:

1) To return all the token texts:

[2019-11-05 19:32] reckart commented on #87
If we imagine TOKEN and LEMMA to be type name string constants - no.

[2019-11-05 19:53] jcklie commented on #87
How would cassis know what feature to use for `as_text()`?

[2019-11-05 19:59] jcklie commented on #87
In Python, one would normally just use a list comprehension for that, e.g.

    values = [x.value for x in cas.select(LEMMA)]

[2019-11-05 20:05] reckart commented on #87
For `as_text()`, we would use `get_covered_text()`, not a feature value.

[2019-11-05 20:23] zesch commented on #87
This would somewhat diminish the usefulness, as many types beyond token would not return useful results. If we use an accessor, couldn't it decide to return different feature values depending on the type?

[2019-11-05 20:29] reckart commented on #87
It probably could, but it could be confusing. E.g. if `as_text()` returns the covered text for tokens but say the entity type for entities, I would find that confusing. How would I get the covered text of an entity? If you wanted to introduce a convenience accessor for "the most commonly used feature value", I would find it sensible for it to have a different name, e.g. `as_value()` - this could e

[2019-11-05 21:06] zesch commented on #87
1) There should be a way to access feature values of annotations.
2) I would find it confusing if `cas.select(TOKEN).as_text()` and `cas.select(POS).as_text()` would return the same values (as they would do now, right?)

[2019-11-05 21:19] reckart commented on #87
There is a way to access feature values, e.g. as @jcklie illustrated:

[code]

`x.value` reads the feature `value` on the feature structure `x`. You can also write to the feature `x.value = "value"`.

Right now, `as_text()` does not exist. `cas.select(XXX)` returns a "Generator", i..e not  a list - so evaluation is lazy. That is why we currently cannot easily add methods to it - we can also not ea

[2019-11-05 21:30] jcklie commented on #87
I will track the extension mechanism in #83 and the extension methods you want here so that we do not mix up the issues.

[2019-11-05 21:32] jcklie commented on #83
I did some quick and dirty script to convert a typesystem XMI to Python classes for the DKPro Core type system. One can get type hints for the wrapped CAS, the accessor and does not need to redefine all cas methods:

![image](https://user-images.githubusercontent.com/934600/68247856-f4d5f100-001b-11ea-96fc-469b5516250e.png)

![image](https://user-images.githubusercontent.com/934600/68247966-3070bb

[2019-11-05 21:52] jcklie commented on #83
I do not know whether I want to keep the type hints for the extension methods, but I like how to define extensions.

[2019-11-06 09:23] reckart commented on #83
So the IDE dynamically evaluates the DKProAccessor to discover the accessors?

[2019-11-06 10:38] jcklie commented on #83
We tell the IDE that `build_dkpro_cas` can either return a cas or an accessor.

[2019-11-06 10:45] reckart commented on #83
How does the IDE know that e.g. Token has the field `form`? I don't see anything in your code that would do that?

[2019-11-06 10:54] jcklie commented on #83
I generate type descriptions Python code from the XML. If you have a fixed type system, then you can do that and check the generate python code in your source control. I will later push the code for that; this issue should maybe focus on the extension only.

[2019-11-06 10:57] reckart commented on #83
Generating classes from the type system description - so a "pycasgen" - an equivalent of the "jcasgen" we have in Java which generates Java classes from the type system. Why not? :)

I think such a "pycasgen" script could be part of cassis and projects like DKPro Core or cTAKES could pre-generate the classes and push them to pypi as separate packages. WDYT?

[2019-11-06 11:45] jcklie commented on #83
We can do that. My question right now is where to put the extensions, I like to have them in cassis itself, as they are related to CAS/XMI stuff. Also, I need them sometimes for my own code and dont want to install pydkpro just for the extensions and types.

[2019-11-06 12:40] reckart commented on #83
If by extensions you mean e.g. the generated types - I think these should be released separately and with the same version numbers as the corresponding DKPro Core / cTAKES / etc versions. They do not follow the same release cycle as cassis.

[2019-11-06 12:44] jcklie commented on #83
I mean the dkpro/ctakes accessor and util functions that were requested.

[2019-11-06 15:12] reckart commented on #83
@zesch @aggarwalpiush WDYT? Type-system-specific accessors and Python classes generated from type systems should probably be kept together and have a release cycle mirroring the release cycle of the type system they mirror. Have them as a separate project under DKPro already now (which I think would be nice since we could already make use of them in INCEpTION)? Have them with your pipelining code

[2019-11-06 19:23] zesch commented on #83
Not sure I really understand the implications. Whatever works best on your side.

[2019-11-08 14:10] jcklie commented on #83
I would create a new repository and Python package dkpro-typeshed where we add the extension methods and generated types to get a nice API. This would then only depend on cassis. pykdkpro then can use it to make its API nicer. We use a seperate package in order to track the dkpro version and respective types new/different types.

[2019-11-08 15:39] zesch commented on #83
Sounds good

[2019-11-08 15:51] reckart commented on #83
We have various DKPro projects and they all have different release cycles. I think the type system is generated for a particular version of a particular project. Thus having a single repo where all generated types are located doesn't seem sensible to me. We would always have to release all types at the same time and it would be impossible for users to choose a version combination they would care f

[2019-11-08 15:56] jcklie commented on #83
This sounds like a lot of work and maintenance nightmare, right now it also works without (type unsafe in the same way the raw cas interface has no safety and type information). So I would then just add the accessor which returns the right FeaturesStructures but gives no IDE support, i.e. changing

    def get_tokens(self) -> Iterator[Token]:
        return self._cas.select("de.tudarmstadt.ukp.dkp

[2019-11-08 15:58] reckart commented on #83
What's a maintenance nightmare?

[2019-11-08 16:11] jcklie commented on #83
Having a repo for each would mean to set up many repositories and pypi packages. I would rather not do that right now.

[2019-11-08 16:20] reckart commented on #83
We only need to set up one for DKPro Core. I even thought about putting the generated Python classes directly into the "dkpro-core" repository along with all the Java stuff. But considering that the Python stuff is still "young", we might care to refine/release it more often than the Java stuff, so it might have a faster release cycle (e.g. "2.0.0, then 2.0.0.1 because we fix a bug in the code gen

[2019-11-09 19:33] reckart commented on #83
I have added a repo here and you should all have proper access to it: https://github.com/dkpro/dkpro-core-python-api

We can still rename it / move around things later if we decide to change anything. For now, we'll only create types for DKPro Core anyway.

[2019-11-10 15:00] reneverheij opened #88 "Error if supertype has no namespace"
I run into a KeyError while loading a type system (see attachment) exported by IBM Watson Explorer:

[code]

This error occurs while processing a type named OpinionPhrase, which does not have namespace.
It does not occur when I insert this code as lines 572 and 573:
[code]

However, this only means I get a second error later on. I don't know if it is related, but I describe it here anyway.
[code]

[2019-11-10 16:13] jcklie commented on #88
Thank you for the report and the fix! It works for me when I add it. The second error is caused because the feature is called `self` which is kinda a reserved name in python. You hit the jackpot with that I think. I will add some code and a warning that renames features temporarilty to `self_` .

[2019-11-10 17:06] jcklie commented on #66
I merged the pull request and will release soon, please reopen this issue if the issue persists.

[2019-11-10 17:06] #66 closed

[2019-11-10 17:06] jcklie commented on #43
It looks like we can handle this, I will reopen this issue in case of new problems.

[2019-11-10 17:06] #43 closed

[2019-11-10 17:11] jcklie opened #90 "Typesystem loading fails if features contain features called self"
**Describe the bug**
Typesystem loading fails if features contain features called self

**To Reproduce**
Steps to reproduce the behavior:
1. Add a feature called `self`

**Expected behavior**
No error occurs

**Error message**

[code]

**Additional context**

The issue occurs because we attempt to create a class with a field called `self` which is reserved in Python.

[2019-11-10 17:12] GregSilverman commented on #66
Thanks! I will be testing this after AMIA is over, since I have several
corpora that have been processed through our UIMA suite of NLP engines.

Greg--

On Sun, Nov 10, 2019 at 11:06 AM Jan-Christoph Klie <
notifications@github.com> wrote:

--
Greg M. Silverman
Senior Systems Developer
NLP/IE <https://healthinformatics.umn.edu/research/nlpie-group>
Department of Surgery
University of Minnesota
gms

[2019-11-10 17:14] jcklie commented on #88
I opened a second issue for your second issue in #90 .

[2019-11-10 17:46] jcklie commented on #90
@reneverheij I merged it, you can either try the master branch via or wait until next week when I release a new version of cassis on pypi via `pip install git+https://github.com/dkpro/dkpro-cassis`

[2019-11-10 17:47] #67 closed

[2019-11-10 18:52] reckart commented on #66
@GregSilverman Please consider mentioning Cassis in any publications you might make using it.

[2019-11-10 21:53] GregSilverman commented on #66
Will do. AMIA Symposium is only a workshop we're presenting, but the
experiment I've been working on with use of cassis is ultimately going to
be published.

On Sun, Nov 10, 2019, 12:52 PM Richard Eckart de Castilho <
notifications@github.com> wrote:

[2019-11-11 09:32] jcklie commented on #90
I released it and added documentation on how to deal with this inconvenience under https://github.com/dkpro/dkpro-cassis#miscellaneous

[2019-11-11 09:38] reckart commented on #90
Might be worth introducing `set_feature_value` and `get_feature_value` methods which would automatically do this renaming internally such that the "original" feature name could be used?

[2019-11-11 09:45] jcklie commented on #90
This is an extremely rare case and I do not want to add getter and setter just for this.

[2019-11-19 02:34] GregSilverman commented on #66
Is the version on PyPi now the merged release (I see it was released about a week ago)? I am about to start processing a ton of CAS, so I can put this through its paces.

Thanks!

[2019-11-19 10:57] jcklie commented on #66
It is in the newest release.

[2019-11-20 19:58] zesch commented on #9
Is there anywhere an example of how to use the DKPro type system?

[2019-11-20 20:01] jcklie commented on #9
It is in Pull Request #86 and not merged yet.

[2019-11-21 02:26] GregSilverman opened #93 "Types extending primitive types are not considered primitive"
**Describe the bug**

When selecting view, the error `invalid literal for int() with base 10: 'CARDINAL'` is thrown.

**To Reproduce**

Run following:

[code]

[20132.txt.xmi.zip](https://github.com/dkpro/dkpro-cassis/files/3872491/20132.txt.xmi.zip)
[TypeSystem.xml.zip](https://github.com/dkpro/dkpro-cassis/files/3872498/TypeSystem.xml.zip)

**Expected behavior**
Expect to see annotations in view

[2019-11-21 02:39] GregSilverman opened #94 "Error: 'KeyError: 17'"
**Describe the bug**

When selecting view, the error `Keyerror: 17` is thrown.

**To Reproduce**

Run following:

[code]

[20132.txt.xmi.zip](https://github.com/dkpro/dkpro-cassis/files/3872552/20132.txt.xmi.zip)
[TypeSystem.xml.zip](https://github.com/dkpro/dkpro-cassis/files/3872560/TypeSystem.xml.zip)

**Expected behavior**
Expect to see annotations in view.

**Error message**
See above.

**Ple

[2019-11-21 02:57] GregSilverman commented on #94
Hi, this is the more critical of the two errors I just submitted, since I cannot get the particular annotation run in cTAKES to work in v 0.2.2 (the other error, generated by BioMeDICUS does work in version 0.2.2).

I haven't had time to look into the error itself, but I feel like I've seen it before wrt to a namespace issue.

[2019-11-21 13:43] GregSilverman commented on #94
Never mind. I figured this out.

[2019-11-21 13:43] #94 closed

[2019-11-21 13:43] reckart commented on #94
So what was it?

[2019-11-21 14:04] GregSilverman commented on #94
While testing, I had deleted an annotation with a feature that needed to be
added to the typesystem definition. Thus, the source of the missing key!
Oops!

The other issue though is still a problem, but I do have a workaround using
0.2.2.

Otherwise, the error with the collection seems to be mitigated with 0.2.3.

Thanks!

On Thu, Nov 21, 2019, 8:43 AM Richard Eckart de Castilho <
notifications@gi

[2019-11-21 15:59] shohre10539 opened #95 "Relation annotation"
Does this implementation support relation annotations?such as conference resolution

I was not able to find this functionality in the Cas class, add_annotation function.

[2019-11-21 18:10] jcklie commented on #95
Do you want to read or write them? Relations in UIMA are modeled differently depending on the type, e.g. predicate-argument, coreference, dependencies, ... If you use the DKPro Core annotation schema (that INCEpTION also uses), then it should be easy to read and write by using the `CoreferenceChain` annotation. I can add an example for that later, you can explore how relations look by importing th

[2019-11-21 18:24] jcklie commented on #93
The problem is that `edu.umn.biomedicus.numbers.NumberType` is not seen as a primitive type even though it  extends `uima.cas.String` which . We need to check inheritance in `is_primitive`.

[2019-11-21 18:46] jcklie commented on #90
Did not hear back, should be fixed.

[2019-11-21 18:46] jcklie commented on #88
Should be working, please reopen the issue if not.

[2019-11-21 18:46] #88 closed

[2019-11-21 18:47] jcklie commented on #93
I merged it in master and will maybe releae it this or early next week.

[2019-11-21 19:11] reckart commented on #93
AFAIK strings are the only primitive type which can be extended - and the idea in doing so is that you can define a set of fixed values which the string feature can assume.

[2019-11-21 20:36] reneverheij commented on #88
I have verified that this problem has indeed been fixed. Thank you.

[2019-11-22 09:02] shohre10539 commented on #95
I want to write an external recommender for co-reference resolution in python.

[2019-11-22 09:11] jcklie commented on #95
Sadly, we right now do not support recommending relations in INCEpTION, but I will work on the INCEpTION side in mid of December.

[2019-11-22 13:24] jcklie commented on #83
I will come back to this after the ACL deadline.

[2019-11-22 18:10] GregSilverman commented on #93
Hi, looks like the fix in 0.2.4 worked. Thanks!

[2019-11-22 18:10] #93 closed

[2019-11-23 20:39] reneverheij opened #97 "Cassis does not resolve feature declared for supertype"
Call to load_cas_from_xmi() fails with TypeError:
[tokenProperties.zip](https://github.com/dkpro/dkpro-cassis/files/3882893/tokenProperties.zip)

[code]

I think the error is the result of cassis not resolving features that are declared in a supertype. During a debugging session, I established that the error occurred while cassis was trying to resolve feature 'tokenProperties' on type 'TitleCaseAl

[2019-11-23 21:39] jcklie commented on #97
Thank you for the report! It looks like the inheriting of features does not work over more than 3 levels. I will have a look.

[2019-11-23 22:19] jcklie commented on #90
This is also true for `type`

[2019-11-23 23:11] #90 closed

[2019-11-23 23:11] jcklie commented on #97
The fix is in master, it would be nice if you could test it. There was another problem in your cas which is that a feature is called "type". I also fixed that issue hopefully.

[2019-11-24 09:22] reckart commented on #97
How about adding a list of "tested" type systems to the README?

[2019-11-24 09:23] reckart commented on #97
Well, maybe not - after all, we want to be compatible with all of them and having a list might give people the idea that we only care to support specific ones.

[2019-11-24 09:34] reneverheij commented on #97
I can confirm that the error no longer occurs.
_Thank you for your support!_

[2019-11-24 11:21] #97 closed

[2019-11-27 12:42] reneverheij commented on #97
When will this fix be released?

[2019-11-27 15:40] jcklie commented on #97
I just released it, please have a try.

[2019-11-27 19:56] reneverheij commented on #97
I've tested it, the bug is gone in version 0.2.5

[2019-12-01 14:06] reneverheij opened #100 "AttributeError while serializing CAS with string array inheritance"
Call to cas.to_xmi() fails with AttributeError:
[code]
**To Reproduce**
Steps to reproduce the behavior:
Create a CAS based on the attached XMI document and type system descriptor.

**Please complete the following information:**
- Version: 0.2,5
- OS: Windows 10
- Python: 3.8.0

[testdata.zip](https://github.com/dkpro/dkpro-cassis/files/3908274/testdata.zip)

[2019-12-01 15:54] jcklie commented on #100
The problem is that I did not check things extending string arrays when serializing. A fix is underway.

[2019-12-01 16:21] jcklie commented on #100
It should be fixed in master, I might do a release next week.

[2019-12-02 09:27] shohre10539 commented on #95
Thanks

[2019-12-02 20:38] reneverheij commented on #100
After pulling the master branch, the error has disappeared.

[2019-12-08 07:43] reneverheij commented on #100
Any chance of a release today? I’d really appreciate it.

[2019-12-08 14:45] jcklie commented on #100
I released it.

[2019-12-08 14:45] #100 closed

[2019-12-08 16:40] reneverheij opened #102 "Feature Structures in non-default views are not serialized to XMI"
**Describe the bug**
While deserializing an XMI document produced by cassis, I get the following exception:

This exception is raised by an application that uses Apache UIMA version 2.10.0. The XMI contains a reference to XMI ID 609 in the members attribute of the cas:View element. There is no element in the XMI with this xmi:id.
`<cas:View sofa="608" members="609"/>`
[doc7.zip](https://github.com

[2019-12-10 20:49] jcklie commented on #102
There are two `DocumentAnnotation` (one for each view), I thought there can be only one globally.

[2019-12-10 20:59] reckart commented on #102
There can be one per view.

[2019-12-10 21:01] reckart commented on #102
There could I think even be more than per view but only one has special meaning and having more than one per view is most likely a bug.

[2019-12-10 21:40] jcklie commented on #102
After some investigation, I think it is a different error.

[2019-12-15 13:48] jcklie commented on #102
@reneverheij I merged a fix in master, it would be nice if you could test it.

[2019-12-15 19:23] reneverheij commented on #102
I can confirm that the error no longer occurs. When can I expect a release?
_Thank you very much for your support._

[2019-12-15 19:34] jcklie commented on #102
I just released 0.2.7. I hope that cassis is now usable for you.

[2019-12-15 19:34] #102 closed

[2020-01-27 17:24] dmitriydligach opened #104 "select_covered doesn't seem to work with base class"
I'm evaluating the possibility of using CASSIS as a part of a cTAKES pipeline. I'm trying the script below. It works fine when I iterate over WordToken(s). However, select_covered() doesn't seem to find any BaseToken annotations. BaseToken is the super class of WordToken.

Here's the script:
[code]

This script and the XMI/type system files are available here:

https://github.com/dmitriydligach/Sa

[2020-01-27 17:40] dmitriydligach commented on #79
@jcklie @reckart Apologies again for the delay. I see that you've made some nice improvements to dkpro-cassis. I just re-tested this issue. The original error is gone, however I get the error below.

Thank you very much in advance for your help!

Traceback (most recent call last):
  File "./cas.py", line 11, in <module>
    cas = load_cas_from_xmi(xmi_file, typesystem=type_system)
  File "/usr/loc

[2020-01-27 18:30] ramonziai commented on #9
Just played around with this module (v0.2.7) and tried to use load_dkpro_core_typesystem() but it seems that "dkpro-core-types.xml" is absent from the PyPI package (see https://pypi.org/project/dkpro-cassis/#files), causing the function to tail. Adding in the XML file from the repo fixed it but you might want to look at this to make the released version work.

Thanks for this neat module!

[2020-01-29 13:47] jcklie opened #105 "DKPro Typesystem XML not in pypi package"
**Describe the bug**
Just played around with this module (v0.2.7) and tried to use load_dkpro_core_typesystem() but it seems that "dkpro-core-types.xml" is absent from the PyPI package (see https://pypi.org/project/dkpro-cassis/#files), causing the function to tail. Adding in the XML file from the repo fixed it but you might want to look at this to make the released version work.

[2020-01-29 16:43] jcklie commented on #79
@dmitriydligach  Do you have an actual XMI that I can test? It is else really difficult to debug.

[2020-01-29 16:50] dmitriydligach commented on #79
@jcklie Sorry for the delay. We are working on creating an XMI files using fake data for you. We will likely have it for you this week. Please stay tuned.

[2020-01-29 20:43] jcklie commented on #104
I did not realize that the `select*` methods also need to return instances of subtypes. I will add this soonish. Thanks for reporting! I hope we can get to a version of cassis which makes it suitable for your Ctakes.

[2020-01-29 20:58] dmitriydligach commented on #104
@jcklie Thanks! And yes, UimaFit has this functionality and we routinely use this in cTAKES.

[2020-01-30 07:33] reckart commented on #104
It is a feature for the core UIMA framework. uimaFIT just "inherits" it from the UIMA APIs that it wraps.

Btw. if you are already using UIMAv3, you should have a look at the new select API it provides ;)

[2020-01-30 13:13] ramonziai opened #108 "Add possibility to combine several type systems"
**Is your feature request related to a problem? Please describe.**

I was looking for a way to import my own typesystem which builds on top of DKPro types. However, currently there is only the possibility to deserialize one XML file into one TypeSystem object, and references to other type systems in the XML files are ignored.

**Describe the solution you'd like**

I'd like a way to combine my type

[2020-01-30 13:17] ramonziai commented on #108
Pull request #107 implements the option to pass an already existing type system to the deserializer. @jcklie rightly objected that the conceptually more correct way of achieving this is to add a merge() function for type systems. However, it seems to me that this involves rather more code than the change I submitted, but I might be wrong.
At the end of the day, it's not that important to me how th

[2020-01-30 19:16] reckart commented on #108
I would agree with @jcklie - instead of chaining one typesystem into the next via the deserializer, it would be better to have a method which takes multiple type system descriptions and merges them.

[2020-01-30 21:22] dmitriydligach commented on #79
@jcklie We created three XMI files using fake data that mimic our real XMI files. They contain three views: goldView, systemView(_initialView), and UriView. When I try to read them using:

  ts_file = open('TypeSystem.xml', 'rb')
  type_system = load_typesystem(ts_file)

  xmi_file = open('XmiMultViews/patientX_doc1_RAD.xmi', 'rb')

I get this error:

Traceback (most recent call last):
  File "./c

[2020-01-31 10:45] ramonziai commented on #108
Ok, I can see that this is the favored approach, and I understand why. I'm interested in getting this functionality in there soon, so I'd be willing to put in the work. I'm assuming merge() would basically traverse the types and features of one type system, create clones with identical values and add them to the other type system. Is that correct or is there a better way?

[2020-01-31 10:47] jcklie commented on #108
I think that is the way. One also needs to make sure that redefines are identical and that inheritance stays correct. I wanted to have a look at it today and over the weekend if that is fast enough for you.

[2020-01-31 10:48] ramonziai commented on #108
Yes it is, thanks a lot :-)

[2020-01-31 10:48] reckart commented on #108
UIMA has the concept of type merging.

So your input are n type systems which are all not modified during the merge process.

The output is a new type system.

The merging process needs to enter into every individual type. If a type is defined in two source file systems, then the features of all of the these types are joined together in the target type system.

If a feature is defined in both and

[2020-01-31 10:52] reckart commented on #108
The relevant method in UIMA is : `org.apache.uima.util.CasCreationUtils.mergeTypeSystems(Collection<? extends TypeSystemDescription>)`

[2020-01-31 10:57] jcklie commented on #108
@ramonziai Do you have an example type system that should be merged with DKPro?

[2020-01-31 15:25] ramonziai commented on #108
@jcklie Here's a (part of the) type system I use, with some references to DKPro types in it: https://unitc-my.sharepoint.com/:u:/g/personal/nnszi01_cloud_uni-tuebingen_de/EZe4a17Bs-xDpsEyASsOOp4Ba72FKDw8F8g94WNDGRxI6w?e=oAdQAa

[2020-02-01 14:42] jcklie commented on #105
Closed in #106

[2020-02-01 14:43] jcklie commented on #108
@ramonziai I implemented the merging logic from uimaj. I will try to release a new version this or next week. You can just use the master via pip using python -m pip install git+https://github.com/dkpro/dkpro-cassis . Please close this issue if it works for you.

[2020-02-01 14:56] jcklie commented on #79
@reckart Can a CAS have a different number of sofas and views? I thought they are 1:1 .

[2020-02-01 17:07] reckart commented on #79
I though that as well. It is probably true anyway, but I think in these cases, the view annotation might not have been created (yet) because there is no annotation for the given sofa, e.g. on

[code]

Looks like the UIMA `org.apache.uima.cas.impl.XmiCasSerializer.XmiDocSerializer.writeView(Sofa, Collection<TOP>)` method only creates the `view` element in the XMI if there are annotations pointing t

[2020-02-03 09:33] ramonziai commented on #108
@jcklie Thanks a lot, merging seems to work just fine. Closing issue.

[2020-02-03 09:33] #108 closed

[2020-02-03 10:39] jcklie opened #110 "UIMA allows different numbers of sofa and views but cassis does not"
**Describe the bug**

Looks like the UIMA `org.apache.uima.cas.impl.XmiCasSerializer.XmiDocSerializer.writeView(Sofa, Collection<TOP>)` method only creates the `view` element in the XMI if there are annotations pointing to that Sofa (i.e. `membersString.length() > 0`):

[code]

**To Reproduce**
Use CAS and type system from [here](https://github.com/dmitriydligach/Sandbox/tree/master/PyCtakes/XmiMu

[2020-02-03 10:47] jcklie commented on #79
I added a fix to master for this. You can just use the master via `pip using python -m pip install git+https://github.com/dkpro/dkpro-cassis` . Please close this issue if it works for you.

[2020-02-03 11:58] ramonziai opened #112 "Type system deserializer does not strip whitespace when reading type names"
**Describe the bug**
Following @jcklie's fix for #109, I tried loading a CAS with DKPro annotation types in it. Most of them appear to load fine, however I got the exception attached here:
[deserialization-error.txt](https://github.com/dkpro/dkpro-cassis/files/4147646/deserialization-error.txt)

I first looked for errors in the CAS I loaded but couldn't find anything wrong with it. Then I traced t

[2020-02-03 12:13] jcklie commented on #112
Thanks for the reporting! It should be fixed soon. Apparently I never loaded a real CAS with this type system :(

[2020-02-03 12:18] jcklie commented on #112
Should be fixed in master.

[2020-02-03 12:24] ramonziai commented on #112
Record speed, thanks :-) Just tested, works. Closing issue.

[2020-02-03 12:24] #112 closed

[2020-02-03 12:46] jcklie commented on #104
This is a bit more intricate, I need to think about how to implement it while still being fast enough.

[2020-02-03 19:29] dmitriydligach commented on #79
Dear Jan-Christoph, thanks a lot for fixing this issue. I'm now able to read annotations from different views in the XMI files I provided! I will close this issue. @jcklie

[2020-02-03 19:31] dmitriydligach commented on #79
@jcklie Sorry, before I close this, there's one more potential problem. Please let me know if you'd like me to close this issue and open a new one instead:

I try to read our real XMI files using the code that worked on the 'fake' XMIs above, but got this error. Unfortunately, I can't give you this XMI files, but is there something you can glean out of the error below?

/Users/Dima/Git/Sandbox/PyC

[2020-02-03 19:32] dmitriydligach commented on #104
@jcklie Thank you very much. Please let me know if you need anything from me in the meantime.

[2020-02-03 20:19] reckart commented on #79
[code]

Looks like it tries to cast a `'` into an int? Does the `members` attribute in all of the `view` elements in that XMI only contain numbers?

[2020-02-03 20:45] dmitriydligach commented on #79
@reckart Sorry, do you mean things like

<cas:View sofa="8" members="15 7025 7031 7037 7043 ...

in the XMI file? If yes, I'm only seeing the numbers there...

[2020-02-03 21:04] dmitriydligach commented on #79
@reckart Sorry, I don't think I pasted all of the error. It's '' rather ' at the end... So, there's an empty string somewhere it's trying to cast?

[2020-02-04 14:59] #110 closed

[2020-02-04 14:59] jcklie commented on #104
@dmitriydligach  I implemented it and it is in master. Can you have a quick test?

[2020-02-04 15:06] jcklie commented on #79
Can you try to change the source code there to either

`members = [int(e) for e in attributes.get("members", "").strip().split()]`

or

`members = [int(e) for e in attributes.get("members", "").strip().split() if len(e)]`

You can just edit

`/usr/local/lib/python3.6/site-packages/cassis/xmi.py`

if you do not want to setup a development environment.

[2020-02-04 16:05] dmitriydligach commented on #79
@jcklie Yes, this fixes the problem! Both solutions you suggested worked. Are you going to check in this update?

[2020-02-04 16:24] jcklie opened #115 "Deserializing views does not work if member delimiter is not single space"
**Describe the bug**

Deserializing views does not work if member delimiter is not single space

**Error**

[code]

[2020-02-04 16:25] dmitriydligach commented on #104
I installed from source (python3 setup.py install) and I'm happy to confirm that your fix works! @jcklie

[2020-02-04 16:26] dmitriydligach commented on #104
@jcklie Thank you very much for fixing this issue. I'm not going to close it.

[2020-02-04 16:26] #104 closed

[2020-02-04 16:36] jcklie commented on #79
@dmitriydligach I pushed it to master, you can have a try. If all goes well, then I release 0.2.8 this weekend or so.

[2020-02-04 16:51] dmitriydligach commented on #79
@jcklie Yes, it works in master. Thanks!

One small issue though. Did you forget to remove a print statement somewhere? When I run my test script (https://github.com/dmitriydligach/Sandbox/blob/master/PyCtakes/cas_mult_views.py) after it prints the EventMention annotations, it prints a few types from the type system, e.g.:

...
Ultrasound guided core biopsy
suggestive
malignancy
org.apache.ctakes.

[2020-02-04 16:57] jcklie commented on #79
Try again, sorry .

[2020-02-04 17:00] dmitriydligach commented on #79
@jcklie All good now, thanks! I'll close the issue.

Thanks again for all your help with addressing the problems I raised. I'll keep experimenting with cassis (it looks extremely useful!) and let you know if I run into other issues.

[2020-02-04 17:00] #79 closed

[2020-02-09 14:24] dmitriydligach opened #116 "Loading feature structures referencing NULL throws"
I have several hundred XMI files that I'd like to interact with using CASSIS. I successfully was able to read 50-60 of them (thank you for addressing the issues I recently pointed out!). However, one XMI files causes a problem. Unfortunately, I am not able to give you access to this file, but perhaps you have some ideas what the problem might be from looking at the error?

The code is roughly this

[2020-02-12 09:37] jcklie commented on #116
From the code, it looks like the entry references another entry which is not defined. Can you look in your data and tell me what entry has ID 0? I would guess it is `<cas:NULL xmi:id="0"/>`.

[2020-02-12 16:24] GregSilverman commented on #115
@jcklie , we just encountered this same error. Is there an ETA for a fix?

[2020-02-12 16:36] GregSilverman commented on #115
Hi, we actually have a case where we're getting an error of `invalid literal for int() with base 10: 'DECIMAL'`, too, along with the empty string `''`.

[2020-02-12 16:37] GregSilverman commented on #115
Please let me know if you need anything from us. Unfortunately, our XMI are fully identified.

[2020-02-12 16:39] GregSilverman commented on #115
I assume this is related to #93.

[2020-02-12 17:05] jcklie commented on #115
Did you test whether the error does not occur in master?

[2020-02-12 17:14] GregSilverman commented on #115
Will do and let you know the results.

On Wed, Feb 12, 2020, 11:05 AM Jan-Christoph Klie <notifications@github.com>
wrote:

[2020-02-12 19:59] dmitriydligach commented on #116
Ok, I do see this in my XMI file:

xmi:version="2.0"><cas:NULL xmi:id="0"/><cas:Sofa xmi:id="1" sofaNum="2" sofaID="UriView" ...

but also:

<textsem:PersonTitleAnnotation xmi:id="25240" sofa="8" begin="163" end="167" id="0" typeID="0" discoveryTechnique="0" ...

<textsem:DateAnnotation xmi:id="25492" sofa="8"
begin="2482" end="2486" id="0" typeID="0" discoveryTechnique="0" ...

and others.

Does

[2020-02-12 20:49] GregSilverman commented on #115
@jcklie We just tested it and everything worked as expected! Thanks a ton.

[2020-02-13 06:15] reckart commented on #116
Are all these from the same file??

[2020-02-13 06:25] reckart commented on #116
Ah - some have an „id“ attribute with value 0 but the „xmi:id“ is always different.

[2020-02-13 09:35] jcklie commented on #116
@dmitriydligach Do you have a `href="#0"` somewhere in your XMI?

[2020-02-15 10:47] dmitriydligach commented on #116
@reckart Sorry, to clarify, there's only one entry with xmi:id="0". It's this one:

xmlns:type2="http:///org/apache/ctakes/constituency/parser/uima/type.ecore" xmi:version="2.0"><cas:NULL xmi:id="0"/>

@jcklie I did not find href="#0" in this XMI file.

[2020-02-16 08:56] jcklie commented on #116
It is really difficult to guess what the error could be. Can you put a print statement before the line where it fails and tell me which annotation type it is that breaks, maybe even post this annotation?

[2020-02-16 11:00] dmitriydligach commented on #116
@jcklie Sure, I added a few print statements:

               # Resolve references
                if typesystem.is_collection(fs.type, feature):
                    # A collection of references is a list of integers separated
                    # by sin`gle spaces, e.g. <foo:bar elements="1 2 3 42" />
                    targets = []
                    for ref in value.split():

[2020-02-16 11:28] reckart commented on #116
Aside from the bug in cassis.... - if I see this right, then the relation has a list feature `members` with a `null` value. The latter triggers the reference to `xmi:id=0` (the null value feature structure). So maybe your software also has a bug in the first place that this `null` reference shouldn't even be there.

[2020-02-16 22:43] dmitriydligach commented on #116
@reckart Thanks for pointing it out. Most likely this is not an issue with our software -- instead it might be an annotation error (we have a reader that populates these things in the CAS).

[2020-02-17 10:56] jcklie commented on #116
@dmitriydligach I pushed a fix. Can you check whether it works for you in master?

[2020-02-17 20:01] dmitriydligach commented on #116
@jcklie It worked! Thank you so much for addressing this issue so quickly. I will close it.

[2020-02-17 20:01] #116 closed

[2020-02-18 08:46] jcklie commented on #115
I released 0.2.8, please close this issue if this solves your issue.

[2020-02-18 08:47] jcklie commented on #116
I released 0.2.8

[2020-02-18 15:11] GregSilverman commented on #115
I would close this if I could, but there isn't the option.
<img width="872" alt="Screen Shot 2020-02-18 at 9 10 54 AM" src="https://user-images.githubusercontent.com/1007034/74748734-9fba9580-522e-11ea-89d1-53d078a9df30.png">

[2020-02-18 15:14] #115 closed

[2020-02-21 14:58] ramonziai commented on #105
Still seems to be the case in the new release: https://files.pythonhosted.org/packages/44/45/cab32011f14f1163a40e478552180e8237d37df098a3d98598be6b7bbb31/dkpro-cassis-0.2.8.tar.gz

[2020-02-21 15:34] jcklie commented on #105
Sorry for that, please try again.

[2020-02-25 09:26] danimarft opened #118 "Unpinned lxml dependency"
**Describe the bug**
I installed `dkpro-cassis` and couldn't get it to work because I had an incompatible (outdated) `lxml` library installed.
This was solved by updating to the latest version of `lxml`
It would be nice to have pinned dependencies in the `setup.py` (at least to the major version)

**To Reproduce**
Steps to reproduce the behavior:
1. Have `lxml 3.4.1`
2. Try using the  `dkpro-cassi

[2020-02-25 09:32] ramonziai commented on #105
Working now, thanks!

[2020-02-29 09:18] #105 closed

[2020-02-29 09:24] jcklie commented on #118
Thanks for reporting! I pinned all install dependencies, the fix will be in the next release.

[2020-02-29 09:24] #118 closed

[2020-04-16 15:15] triclops200 commented on #9
Also running into the missing "dkpro-core-types.xml" problem.

[2020-04-16 17:23] jcklie commented on #9
@triclops200 Which cassis version are you using? I thought that I fixed it.

[2020-04-16 19:37] triclops200 commented on #9
You're right, was behind a version or two in my pyenv, apologies.

[2020-05-01 15:27] triclops200 commented on #25
This is biting me right now, as well. Is there any progress towards this?

[2020-05-01 16:23] jcklie commented on #25
I can add it soonish, I hope this weekend.

[2020-05-01 18:45] triclops200 commented on #25
Holy smokes, that's soon. Really appreciate it.

On May 1, 2020 12:24:13 PM EDT, Jan-Christoph Klie <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-05-02 17:45] jcklie commented on #25
@triclops200 Can you elaborate a bit what problem was caused by missing this feature?

[2020-05-02 19:28] triclops200 commented on #25
Trying to enforce that users of a library I'm writing that interfaces with another system don't add items that aren't the correct subtype to a fslist

On May 2, 2020 1:45:21 PM EDT, Jan-Christoph Klie <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-05-02 21:33] jcklie commented on #25
Is it enough for you now to check for type safety only when the user adds the the fs with contains a fslist to the CAS? Or is it enough for you to check when serializing? Checking whenever the user mutates the list is a bit more complicated.

[2020-05-02 23:05] triclops200 commented on #25
Checking on those points would be fine. If it becomes a problem I'll make a pull request myself in the future.

On May 2, 2020 5:33:15 PM EDT, Jan-Christoph Klie <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-05-03 12:56] jcklie commented on #25
In a feature branch, I added a function `cas.typecheck()` that returns a list of type checking errors. You can call the function whenever you want. Right now, I only check whether fs list members are type sound. Is that enough for you?

[2020-05-03 13:04] triclops200 commented on #25
More than enough! Thanks!

On May 3, 2020 8:57:07 AM EDT, Jan-Christoph Klie <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-05-03 15:23] jcklie commented on #85
We still need to add leniency options to the xmi deserialize method.

[2020-05-03 15:25] jcklie commented on #25
I added the typ check method to master, you may want to try it out. You can just use the master via pip using ` python -m pip install git+https://github.com/dkpro/dkpro-cassis`. I will make a release soonish. Will you library be open soure or is it something internal?

[2020-05-03 15:45] triclops200 commented on #25
Internal, unfortunately. Thanks for the quick response.

On May 3, 2020 11:25:52 AM EDT, Jan-Christoph Klie <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2020-05-04 15:32] Daedo opened #121 "XMI Serialization breaks Nested Feature Structures"
**Describe the bug**
During the Serialization of a cas to xmi annotations are assigned new ids. This creates two issues:
1. If an annotation contains a nested feature structures the inner feature structures no longer point
to their original values.
2. Any references to feature structures that are not kept within the cas breaks since ids get reassigned.

**To Reproduce**
Steps to reproduce the beha

[2020-05-04 15:41] jcklie commented on #121
Do you have a minimal CAS that triggers this error?

[2020-05-05 10:20] Daedo commented on #121
[cas.zip](https://github.com/dkpro/dkpro-cassis/files/4580142/cas.zip)

This might not be the smallest cas, but is is the smallest where I saw this error occur:

Case 1: Id reassignment breaks nested feature structures
The cas contains what is basically a linked list:
<subject:SubjectList> is a node pointing to its next node if there is one.
Additionally they point to the <subject> containing the

[2020-05-10 09:43] jcklie commented on #121
Thank you for reporting and using cassis! I fixed it hopefully in master by keeping IDs when loading XMI, I cannot recall why I regenerated them. You may want to try it out. You can just use the master via pip using `python -m pip install git+https://github.com/dkpro/dkpro-cassis`. I will make a release soonish.

[2020-05-10 16:26] reckart commented on #121
How do you ensure that new FSes get IDs that have not yet been used?

[2020-05-10 16:49] jcklie commented on #121
I save the maximum id and generate from there on.

[2020-05-10 16:51] reckart commented on #121
Is there some kind of controlled failure / error message when the IDs overflow?

[2020-05-10 16:54] jcklie commented on #121
How do they overflow? In python, numbers cannot overflow but convert to a bigint equivalent.

[2020-05-10 16:56] reckart commented on #121
Ok. It could be that UIMA (Java) uses int for XMI IDs. Having had a cursory look at the UIMA code, I expect that XMI IDs > MAX_INT and possibly such smaller 0 might cause the UIMA Java deserialization to fail.

[2020-05-26 01:48] pidugusundeep opened #123 "How to i create a cas file after adding annotations?"
I added annotations to the `cas(.xmi)` file and I would like to know how can i write the updated annotations to a `.xmi` file back?

[2020-05-26 02:09] pidugusundeep commented on #123
`cas.to_xmi(path)`

This worked.

[2020-05-26 02:09] #123 closed

[2020-07-15 18:10] rcarlini-upf opened #124 "Increasing times in typesystem deserialization"
**Describe the bug**
When typesystem is deserizalized using TypeSystemDeserializer shows an increasing amount of time, even when called with the same typesystem multiple times.

**To Reproduce**
Steps to reproduce the behavior using **ipython**:
1. Import TypeSystemDeserializer
`from cassis.typesystem import TypeSystemDeserializer`
2. Instantiate it
`deserializer = TypeSystemDeserializer()`
3. Cho

[2020-07-16 08:31] jcklie commented on #124
I can reproduce the issue. This is fundamentally difficult to fix as cassis generates a class for every type in the typesystem and therefore a lot of garbage. I just pushed a fix to master which generates classes only on the first use (https://github.com/dkpro/dkpro-cassis/issues/84). With that fix, I get

[code]
 Can you use master and try again? You can install master via pip with

  pip install

[2020-07-16 09:49] rcarlini-upf commented on #124
It is not open source but I'll try to cleanup and open some parts of it. I've seen some ideas that I like in that inception-project and I'll try to add them while cleaning up.

I'll try the fix later but I have a question about it. In the long run, this fix does not avoid the cluttering, right? Because it seems to me that the problem comes from re-creating classes even if the definition is the sam

[2020-07-16 10:07] jcklie commented on #124
For small type systems, I assume that this problem is much smaller. For larger ones I think the garbage collector will take care of the cluttering, we also reduced the garbage as you only pay for types that you use. The fix also sped up creating type systems by a factor of ~100x so cluttering  should have a much smaller impact now.

[2020-07-24 10:47] rcarlini-upf commented on #124
Ok, I've rerun the same process and got:
`49.2 ms ± 3.01 ms per loop (mean ± std. dev. of 100 runs, 1 loop each)`
which is quite an improvement.

Makes sense. In the end, we didn't notice a memory impact, so I assume that you are right on the garbage collector point. Thank you for the clarification!

I'll contact you once I have integrated your ideas and opened our project :)

[2020-07-30 16:20] reckart opened #126 "select does not return instances of all (transitive) subtypes of the type queried for"
**Describe the bug**
For a type inheritance structure `A <- B <- C`,  `cas.select("A")` only returns instances of `A` and `B` but not of `C`

**To Reproduce**
I'll provide a PR/unit test

**Expected behavior**
`cas.select("A")` only returns instances of `A` and any (transitive) subtypes

**Please complete the following information:**
 - Version: 0.2.9

[2020-07-30 16:34] reckart opened #128 "get_document_text() and get_document_language()"
**Is your feature request related to a problem? Please describe.**
Coming from Java, I would expect there to be `Cas.get/set_document_text()` and `Cas.get/set_document_language()` methods, but there is only `sofa_string()`

**Describe the solution you'd like**
Maybe these methods could be introduced and call sofa_string internally?

**Describe alternatives you've considered**
Just get used to new

[2020-07-30 17:29] #124 closed

[2020-07-30 17:30] jcklie commented on #124
I will make a release with this soonish.

[2020-07-30 17:30] #126 closed

[2020-07-30 17:31] jcklie commented on #121
No further input, closing.

[2020-07-30 17:31] #121 closed

[2020-07-30 17:33] jcklie commented on #84
Should be ok done.

[2020-07-30 17:33] #84 closed

[2020-07-31 14:12] jcklie opened #129 "Add nice selector syntax for deeply nested feature structure"
**Is your feature request related to a problem? Please describe.**
Sometimes you want to get an attribute of a member fs, but it might be `None`:

`a.b.c <= `b` might be `None`

**Describe the solution you'd like**

`a.get("b.c")` returns `c` if `b` is set else None

[2020-08-17 12:31] reckart opened #131 "API behavior is surprising with respect to Python types"
**Describe the bug**
Not actually a bug, but the behaviour of the API is a bit surprising...

**To Reproduce**
[code]

**Expected behavior**

[code]

[2020-08-17 13:10] jcklie commented on #131
[code]

Works. `ExampleType` is a factory, not the class of annotation.

[2020-08-18 12:32] jcklie opened #133 "Resolve reference to sofa for nested FeatureStructure"
For the following typesystem and xml:

https://drive.google.com/drive/folders/1GqWanaAB9Duj8orYLTDtfNILv3OmZD24?usp=sharing

[code]
I get the following error after loading to cas, and then creating an xmi representation:

[code]

This is because references to the Sofa object for nested FeatureStructure is not done correct.
(<html:TagAttribute xmi:id="25" sofa="1" begin="11" end="28" name="class" v

[2020-08-18 12:42] jcklie commented on #133
In the XMI, it is strange that the `html:TagAttribute` has a sofa attribute but is not actually in the sofa members list. I would say it is even wrong.

[2020-08-18 12:50] reckart commented on #133
@ArneDefauw how was the XMI file that you reference in #132 originally created?

[2020-08-18 14:44] ArneDefauw commented on #133
The XMI file was created via custom java code (using UIMA SDK). Adding the 'nested' ` html:TagAttribute ` to the sofa members list indeed fixes the problem. It thus seems to be a misinterpretation from my side, thanks for the swift response!

[2020-08-18 15:36] reckart commented on #133
If the a simple code example using the UIMA Java SDK without any hacks can produce an XMI file with an annotation that has a Sofa but where the annotation is not in the indexes, then IMHO cassis should be able to deal with that.

[2020-08-18 20:08] jcklie commented on #133
@ArneDefauw It is fixed in master, thank you for reporting! I fixed it when loading XMI, not when adding an annotation as it should never happen when you add an annotation, only when loading XMI.

[2020-08-19 14:52] ArneDefauw commented on #133
Thanks, now everything works fine!

[2020-08-21 06:57] jcklie commented on #133
Solved with #134

[2020-08-21 06:57] #133 closed

[2020-08-21 08:00] jcklie commented on #129
Solved with #130

[2020-08-21 08:00] #129 closed

[2020-08-21 08:01] jcklie commented on #131
Not a bug and nothing we can do about except a complete rewrite.

[2020-08-21 08:01] #131 closed

[2020-09-28 18:34] jcklie opened #135 "Importing XMI with smileys creates offsets that are not UIMA conform"
**Describe the bug**
Create a CAS with the text "Hello 😊, my name is John.". Export the file as UIMA CAS XMI. The token offsets after 😊 are wrong when importing it into the real UIMA Java.

The problem is that UIMA does not use offsets in units of codepoints, but in units of utf16 bytes.

**Additional context**
https://github.com/inception-project/inception/issues/1811
https://webanno.github.io/we

[2020-09-28 20:58] jcklie commented on #135
Should hopefully be solved with #136

[2020-09-28 20:58] #135 closed

[2020-09-28 21:32] jcklie opened #137 "Add Webanno TSV test casses"
**Is your feature request related to a problem? Please describe.**
We need more tests.

**Describe the solution you'd like**
Webanno TSV has many CAS XMI files which can be used for testing

https://github.com/webanno/webanno/tree/master/webanno-io-tsv/src/test/resources/tsv3-suite

[2020-09-30 15:54] LaurentBie opened #138 "Add a "remove_annotation" method to the Cas object"
Add a "remove_annotation" method to the Cas object so that I can remove annotations.

[2020-09-30 17:43] jcklie commented on #138
It is now in master, I will release a new version soonish.

[2020-10-11 10:58] jcklie commented on #138
Closed via #139

[2020-10-11 10:58] #138 closed

[2020-10-11 12:02] #85 closed

[2020-10-11 16:17] reckart opened #141 "Add positional predicates"
**Is your feature request related to a problem? Please describe.**
I think it would be great if the CAS API in cassis would also offer predicates such as "contains" or "overlaps" to check the positional relation between two annotations to each other.

**Describe the solution you'd like**
A solution similar to https://github.com/apache/uima-uimaj/pull/62 which provides these predicates on two place

[2020-10-21 11:36] reckart opened #142 "Cassis cannot load a type system with types inheriting from "uima.tcas.DocumentAnnotation""
**Describe the bug**
Cassis cannot parse the attached type system.

[TS-DocumentAnnotationBug.xml.zip](https://github.com/dkpro/dkpro-cassis/files/5415536/TS-DocumentAnnotationBug.xml.zip)

**Expected behavior**
It should just work.

**Error message**
[code]

[2020-10-26 08:15] jcklie commented on #142
Solved via #143

[2020-10-26 08:15] #142 closed

[2020-11-18 09:09] LaurentBie opened #144 "cas.select_covered(some_type, some_sentence) is not working has expected when 2 or more annotations start at the beginning of the sentence."
**Describe the bug**
cas.select_covered(some_type, some_sentence) is not working has expected when 2 or more annotations start at the beginning of the sentence. Only the last annotation that starts at the beginning of the sentence is returned.

**To Reproduce**
[error_dkpro_cassis.zip](https://github.com/dkpro/dkpro-cassis/files/5558945/error_dkpro_cassis.zip)

A solution would be to update the _g

[2020-11-22 15:46] jcklie opened #146 "Move to Github Actions"
**Is your feature request related to a problem? Please describe.**
Travis is going to get worse due to recent acquisition.

**Describe the solution you'd like**
Use github actions

[2020-11-22 15:48] jcklie opened #147 "Remove iterators"
**Is your feature request related to a problem? Please describe.**
It is annoying to get iterators for select and other methods.

**Describe the solution you'd like**
Return collections

[2020-11-22 16:06] jcklie commented on #144
Thanks for the report! It will be fixed in the next release.

[2020-11-22 16:06] #144 closed

[2020-11-22 17:07] #146 closed

[2020-11-22 17:11] #147 closed

[2020-11-22 20:52] jcklie opened #150 "Document that typesystem can be extended during runtime"
**Is your feature request related to a problem? Please describe.**
Document that typesystem can be extended during runtime. UIMAj cant do this but cassis can.

[2020-11-23 13:00] ArneDefauw opened #151 "Unexpected behavior .select_covered( ... )"
**Describe the bug**

cas.select_covered( ... , .. ) method does not return all covered elements in some situations

**To Reproduce**

Small example to reproduce the behavior.

Steps to reproduce the behavior:

 Use small_typesystem.xml and small_cas.xml, from https://github.com/dkpro/dkpro-cassis/tree/master/tests/test_files

[code]

[code]
is equal to:
[cassis_Sentence(xmiID=14, id='0', begin=0,

[2020-11-23 16:32] jcklie commented on #151
@ArneDefauw Does that happen in master or the last release? I changed it a bit over the weekend, so I wonder whether that is a fix or the reason for bad things happening now

[2020-11-23 16:52] ArneDefauw commented on #151
It happens both in the latest release ( 0.4.0 ) and in 0.3.0

[2020-11-23 16:55] jcklie commented on #151
Then I will check later whether it is still an issue in master. Thanks for reporting! See also #144

[2020-11-24 07:19] ArneDefauw commented on #151
I checked, and #144 fixes the issue. Thanks!

[2020-11-24 09:56] LaurentBie commented on #151
It would be nice to publish a new release (in PYPI )  with the bug #144 corrected. I'm working on some packages that have dkpro cassis  as a dependency  and as far as I know, it's not possible in a python package to declare dependency from Github.

[2020-11-24 10:06] jcklie commented on #151
It is, you can write that also into your requirements.txt or setup.py e.g.

https://stackoverflow.com/questions/32688688/how-to-write-setup-py-to-include-a-git-repo-as-a-dependency
https://adamj.eu/tech/2019/03/11/pip-install-from-a-git-repository/

I will release on this weekend though.

[2020-11-24 10:11] ArneDefauw commented on #151
pip install -e git://github.com/dkpro/dkpro-cassis.git@bugfix/144-overlapping-select-covered#egg=dkpro-cassis
worked for me

[2020-11-24 14:08] LaurentBie commented on #151
Ok thanks for the link.

El mar., 24 nov. 2020 11:12, ArneD <notifications@github.com> escribió:

[2020-11-29 10:54] #151 closed

[2020-11-29 10:55] jcklie commented on #25
Should be working now

[2020-11-29 10:55] #25 closed

[2020-11-29 10:55] jcklie commented on #68
We return lists now instead of iterators, so this problem should be solved by using result[0]

[2020-11-29 10:55] #68 closed

[2020-12-06 09:52] jcklie opened #152 "Allow path for loading type system and CAS"
**Is your feature request related to a problem? Please describe.**
Reading casses chould have shorter syntax

**Describe the solution you'd like**
`load_cas_from_xmi(Path("sentiment.xmi"), typesystem=Path("TypeSystem.xml"))`

[2021-01-29 15:44] ArneDefauw opened #153 "Error in cassi.xmi.load_cas_from_xmi when deserializing large xmi files"
**Describe the bug**
Can not deserialize a large xmi file created using UIMA.

**To Reproduce**
Steps to reproduce the behavior:

When trying to deserialize the following xmi file
https://drive.google.com/file/d/1WZS3Ep67O7BluLBd4NANrQXKanmNakYk/view?usp=sharing
With Typesystem:
https://drive.google.com/file/d/1hJVC9wepQAoYhMteEaXMPFnhQX2OZU0I/view?usp=sharing

Via:
[code]

I get following error m

[2021-01-30 19:33] jcklie commented on #153
Thanks for reporting! I added an option to `load_from_xmi` that you can use, see https://github.com/dkpro/dkpro-cassis#large-xmi-files . It is in master and will be in the next release.

[2021-02-01 17:38] DavidHuebner opened #155 "Invalid Cas is created when loading/saving an .xmi"
**Describe the bug**
For various CAS-xmi, I experienced that first loading the file and then saving it again using cassis leads to an invalid xmi. The newly created Cas-xmi is invalid with regards to two aspects:

1. A duplicate **xmi:id="1"** exists
2. Some annotations point to a sofa id that does not exist (this throws an error).

**To Reproduce**
Steps to reproduce the behavior:
1. Download and

[2021-02-03 11:30] jcklie commented on #155
Please check whether it works now, I added a fix in master.

[2021-02-03 12:07] DavidHuebner commented on #155
Hi Jan,
thank you so much for your quick response!! All initial tests are positive, so I am hopeful that the issue is fixed. This helps us a lot, so thanks again!
David

[2021-02-03 12:07] #155 closed

[2021-02-03 12:22] jcklie commented on #153
I released a new version with the fix.

[2021-02-03 12:22] #153 closed

[2021-02-03 14:14] DavidHuebner opened #157 "String in multipleReferencesAllowed is incorrectly parsed"
**Describe the bug**
The String value `"false"` of the feature multipleReferencesAllowed is incorrectly parsed as `True`.

The problem is in the function `_get_elem_as_bool(elem)` in `typesystem.py` where `bool(elem.text)` is called. For non-empty string values, this boolean is always True. We should use a slightly more advanced method to parse strings into booleans.

**To Reproduce**
Steps to rep

[2021-02-03 15:44] jcklie commented on #157
Thanks for reporting! It should be fixed in master. I wait a bit in case you find more bugs, then I will release later this week. Is that an important bug/feature for you? I never understood nor used multipleReferencesAllowed.

[2021-02-03 16:12] DavidHuebner commented on #157
Fantastic! Thanks again for your quick response. I encountered this problem when I deserialized/serialized a typesystem which was then incompatible with the original typesystem. I was not actually interested in the value of the multipleReferencesAllowed.

It is perfectly fine for now to work from the master branch / dev version. So, an immediate release is not needed.

Thanks again!

[2021-02-23 14:39] Daedo opened #159 "XMI Serializer creates invalid XMI"
**Describe the bug**
Running Deserialization & Serialization on some XMI documents creates multiple elements with the same xmi id.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an XMI with a feature structure with the xmi id 1 and the Sofa at xmi id 2 (sofa num at 1).

[code]

2. Deserialize and Serialize:
[code]
3. Now both the Sofa and the feature structure have xmi id 1. This can c

[2021-02-23 14:47] jcklie commented on #159
Thank you for reporting. 0.2.10.dev0 is a pretty old version, can you try 0.5.1?

[2021-02-23 16:04] reckart opened #160 "Cannot start server without installing all support libraries"
**Describe the bug**
As far as I remember, when I wanted to start the server with just space, I had to comment out all the classifiers classes from the init file in the contrib package that were not spacy because during the loading of the init file, Python would try to resolve the imported classes and fail trying to do that (because the dependencies from the other classifiers were not installed).

[2021-02-23 16:05] reckart opened #161 "Helper methods"
**Is your feature request related to a problem? Please describe.**
The helper methods we have right now e.g. to create predictions are very hard-coded to the DKPro Core type system.

**Describe the solution you'd like**
Either make the helpers more flexible or remove them in favor of calling cassis directly.

[2021-02-23 16:06] reckart commented on #160
Wrong remo...

[2021-02-23 16:06] #160 closed

[2021-02-23 16:07] #161 closed

[2021-02-23 16:07] reckart commented on #161
Wrong repo...

[2021-02-24 10:26] Daedo commented on #159
Thank you, I've seen it was fixed in 0.5.1.

[2021-02-24 10:26] #159 closed

[2021-03-04 16:03] hatzel opened #162 "Handling of Invalid sofa indexes"
**Is your feature request related to a problem? Please describe.**
I had to load data with invalid sofa indexes, don't ask me how they got in there. They are just comically out of bounds (in the hundreds of thousands when the document length is in the tenths of thousands).

**Describe the solution you'd like**
I fixed this for myself with this hack which just completely discards indexes in such a

[2021-03-08 10:16] jcklie commented on #162
Thank you for the report. Do you have lots of unicode in your documents? Is it possible to create a minimal example of what does not work? How did you create the documents in the first place? I fear that the index mapping code is not 100% reliable and want to understand the error. I would add an optional flag to ignore index errors, the problem then just it that writing back will not work.

[2021-03-09 17:29] hatzel commented on #162
Alright, I suspect this may actually at least in part be an error in the documents. I messed around trying to minimalize the examples a bit but didn't really get anywhere so since the files are open source I'll just link them here, maybe you can make sense of it.

The typesystem [can be found here](https://gitlab2.informatik.uni-wuerzburg.de/kallimachos/DROC-Release/-/blob/master/droc/src/main/res

[2021-04-12 13:48] jcklie commented on #157
I released it, please have a try and close the bug when it works for you.

[2021-04-12 14:02] #157 closed

[2021-04-28 12:52] pottieral opened #163 "XMI output encoding is ASCII instead of UTF-8"
Thank you for providing these tools to the community.

When using the to_xmi() function, output is encoded in ASCII (which seems to be the default encoding of the underlying module lxml). As I understood it reading the docs and the xmi.py code on the repo, we should have an UTF-8 coded output. This would not necessarily be a huge problem, but I think underlying offset functions rely on that assump

[2021-04-28 17:13] reckart commented on #163
On my local dev version, I had no problem importing the XMI.

<img width="1105" alt="Screenshot 2021-04-28 at 19 12 03" src="https://user-images.githubusercontent.com/1410238/116444986-a478d180-a855-11eb-831b-fb061d599e43.png">

I slightly adjusted the XML document you posted above, replacing escaped characters with their regular counterparts:

[code]

[2021-04-28 17:23] jcklie commented on #163
I will change it so that cassis will always write utf8 in the header

[2021-04-28 21:24] jcklie commented on #163
I can reproduce that it sets the encoding to ASCII, but I cannot reproduce the escaping of the d'example

![image](https://user-images.githubusercontent.com/934600/116474475-d8b1b980-a878-11eb-9371-793d520fa696.png)

I do not know where that comes from. I will change cassis though that it always writes a utf-8 header

[2021-04-29 08:03] pottieral commented on #163
Thank you for your answers! Do not worry the escaping is only present on the printed output of the to_xmi() command in the jupyter notebook, when exported on disk it is not present. (example below)

[code]

[2021-06-24 08:02] #163 closed

[2021-06-30 09:40] reckart opened #165 "XMI is serialized using ASCII"
**Describe the bug**
It seems cassis by default serializes as ASCII but it should use UTF-8 instead.

**To Reproduce**
[code]

**Expected behavior**
XMI should be serialized as UTF-8

**Please complete the following information:**
 - Version: 0.5.2

[2021-06-30 09:41] reckart commented on #165
@jcklie didn't we have this issue with encoding recently already?

[2021-06-30 09:42] jcklie commented on #165
Did you try it with 0.5.2 instead of 0.5.0?

[2021-06-30 09:46] reckart commented on #165
GitHub says that 0.5.0 is the latest release?

[2021-06-30 09:47] reckart commented on #165
I did a `pip install --upgrade dkpro-cassis` and it says that 0.5.2 is installed already, run the code and get the ASCII.

[2021-06-30 10:11] reckart commented on #165
Fixed in 0.5.3.

[2021-06-30 10:11] #165 closed

[2021-07-01 13:44] reckart opened #166 "uima.cas.StringArray is inheritance final"
**Describe the bug**
The cassis `cas_with_collections` test uses a type system in which a type is derived from `uima.cas.StringArray`. Loading this type system in the UIMA Java SDK produces an error.

**To Reproduce**
[code]

**Expected behavior**
If a type is inheritance final in the UIMA Java SDK, alternative implementations should probably also not permit subclassing it because the resulting XM

[2021-08-13 08:18] jcklie opened #167 "Cant serialize byte arrays"
**Describe the bug**

Cant serialize byte arrays

**To Reproduce**

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Error message**

[code]

[2021-08-13 10:19] reckart opened #168 "Experimental JSON CAS support"
**Describe the solution you'd like**
Experimental support for the JSON CAS format being developed under https://issues.apache.org/jira/browse/UIMA-6266

Cf. https://github.com/apache/uima-uimaj/pull/137

[2021-08-13 13:01] reckart opened #170 "Handling of the "uima.noNamespace" prefix"
**Is your feature request related to a problem? Please describe.**
In XMI files, an artificial "uima.noNamespace" prefix is introduced for types that are not in any package. However, cassis does not only handle this situation in the XMI (de)serializer code but leaks this prefix into the actual type system. The Apache UIMA Java SDK only uses this prefix in the XMI serialization code (also in the le

[2021-08-13 13:32] reckart opened #171 "Feature._has_reserved_name is never set to True"
**Describe the bug**
Feature._has_reserved_name is initialized with false. There is some code checking its value, but no code ever setting it to true. There is some code which checks for specific feature name such as "self_" or "type_" in xmi.py. Maybe incomplete refactoring?

[2021-08-13 13:59] reckart commented on #171
Found it: TypeSystem.add_feature()

[2021-08-13 13:59] #171 closed

[2021-08-13 15:01] reckart opened #172 "Naming: cas.add_annotation(s)"
Since the add_annotation(s) methods can also add things which as not inheriting from `uima.cas.Annotation`, the naming of the method seems a bit misleading.

Maybe stick with the `add_to_indexes()` or simply `add()`?

Same for remove_annotation(s)

[2021-08-13 15:02] jcklie commented on #172
I would do that but deprecate the old way also and delete it later

[2021-08-13 15:03] reckart opened #173 "Naming: TypeSystem.create_type but add_feature"
The naming for creating how typesystem-related entities seems inconsistent. E.g. we have a `create_type` but then a `add_feature` method. For consistency, the latter should be renamed to `create_feature`.

Also, there should be a remark on the `Type.add_feature()` method that it should not be used (maybe even prefix it with `_` and that the `TypeSystem.create_feature()` method should be used inste

[2021-08-13 16:05] reckart opened #174 "FSes that are only transitively referenced cannot be serialized"
**Describe the bug**
If a feature structure is only transitively referenced by another feature structure and never itself added to the CAS, then serialization fails.

**To Reproduce**
[code]

**Expected behavior**
Serialization should not fail

**Error message**
[code]

**Please complete the following information:**
 - Version: 0.5.3 (well, actually the `origin/feature/168-Experimental-JSON-CAS-su

[2021-08-13 16:09] reckart commented on #174
Maybe add a parameter to `_find_all_fs()` which when set to True would generate missing xmiIDs.

[2021-08-13 16:13] reckart opened #175 "How to set a feature if the feature name is in a variable"
**Is your feature request related to a problem? Please describe.**
I have a feature name but only in a variable. It does not seem to be possible to do a `fs[myFeatureNameVar] = "bonkers"`. What works is `setattr(fs, myFeatureNameVar, "bonkers")` - but it does not seem to be terribly intuitive.

**Describe the solution you'd like**
Since we have a `get(featurename)` method, maybe have a `set(featur

[2021-08-14 12:24] #167 closed

[2021-08-14 14:59] #173 closed

[2021-08-14 16:03] #170 closed

[2021-08-14 17:14] jcklie commented on #175
See https://github.com/dkpro/dkpro-cassis#getting-and-setting-nested-features

[2021-08-14 17:14] #175 closed

[2021-08-14 17:25] #172 closed

[2021-08-18 10:13] #174 closed

[2021-08-18 10:25] reckart opened #183 "Better error message when failing to resolve feature path"
**Describe the bug**
When trying to access a feature/feature path on an FS that does not exist, the error is an AttributeError with a not very helpful error message.

**To Reproduce**
[code]

**Expected behavior**
A nicer error message would be good

**Please complete the following information:**
 - Version: 0.5.x

[2021-08-18 10:42] reckart opened #185 "Transitively referenced primitive arrays not returned by _find_all_fs"
**Describe the bug**
Transitively referenced primitive arrays not returned by `cas._find_all_fs()`.

**To Reproduce**
[code]

**Expected behavior**
All feature structures should be returned by `cas._find_all_fs()`

**Please complete the following information:**
 - Version: 0.6.0-SNAPSHOT

[2021-08-18 15:45] reckart opened #186 "Creating subtypes of inheritance-final types (arrays) is not prevented"
**Describe the bug**
In UIMA, it is not allowed to create subtypes of array types. However, Cassis does allow this and there is even a unit test which features this.

**To Reproduce**
Run a test using `cas_with_collections.xmi`.

**Expected behavior**
An attempt to create a subtype of an inheritance-final type should through an error.

**Please complete the following information:**
 - Version: 0.6

[2021-08-18 16:01] reckart opened #187 "The multipleReferencesAllowed flag on array features is not handled"
**Describe the bug**
The multipleReferencesAllowed on an array feature indicates if the array can be rendered as an XML attributed or not. If when rendered as an attribute, the array does not receive an ID. Also, if two FSes refer to the same array, this array will end up twice in the XMI.

**To Reproduce**
[code]

**Expected behavior**
If f.multipleReferencesAllowed is true, the array should be r

[2021-08-19 10:38] #185 closed

[2021-08-19 10:38] #186 closed

[2021-08-19 10:38] #187 closed

[2021-08-19 10:53] #183 closed

[2021-08-20 11:03] reckart opened #189 "Actual type object in FeatureStructure.type instead of just name?"
**Is your feature request related to a problem? Please describe.**
When I need to access type information such as which features a feature structure has, I need to carry around a CAS or at least a type system object. The `FeatureStructure` has a `type` attribute, but that only contains the name of the type, not the actual type object. So I need to have a CAS object or at least a `TypeSystem` objec

[2021-08-20 14:36] reckart opened #190 "Allow getting the type system from a type"
**Is your feature request related to a problem? Please describe.**
E.g. to check if a type subsumes another type, I need the type system - but I cannot access the type system from the type.

[code]

**Describe the solution you'd like**
[code]

or even

[code]

[2021-08-20 16:02] jcklie opened #192 "Clean up stuff"
**Is your feature request related to a problem? Please describe.**
Improve code style

**Describe the solution you'd like**

- [x] isort black
- [x]  Unused imports
- [x]  type comments to type annotations via [com2ann](https://github.com/ilevkivskyi/com2ann)
- [x]  [pyupgrade](https://github.com/asottile/pyupgradehttps://github.com/asottile/pyupgrade)

[2021-08-24 16:21] DavidHuebner opened #193 "Gracefully handle empty CAS xmi files"
**Describe the bug**
We encountered the scenario that our pipeline has created empty .xmi files (because the import data was not clean and contained empty documents). This is a cleaned example of the .xmi file:

[code]

Trying to open this file causes an error.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
I would like to see that cassis succesfully creates a CAS

[2021-08-25 08:43] reckart opened #194 "Allow visual comparison between two CASes"
**Is your feature request related to a problem? Please describe.**
Sometimes (in particular during testing and debugging), it is useful to generate a diff-able textual representation of a CAS which allows to actually see differences between e.g. an expected and an actual CAS.

**Describe the solution you'd like**
The UIMA Java SDK includes a CasToComparableText class - something similar for cassis

[2021-08-25 09:23] #194 closed

[2021-08-25 18:20] jcklie opened #197 "Update dependencies"
**Is your feature request related to a problem? Please describe.**
Update dependencies and pin versions.

[2021-08-25 18:31] reckart opened #198 "Cas.get_types() does not return all types"
**Describe the bug**
Cas.get_types() does not return all types. Specifically, it filters out built-in types.

**Expected behavior**
It should to what it's documentation says, namely return all the types.

[2021-08-25 18:37] #197 closed, assigned to jcklie

[2021-08-25 18:51] #198 closed, assigned to nobody

[2021-08-25 19:01] jcklie opened #201 "Clean up typeystem query type method"
**Is your feature request related to a problem? Please describe.**
Right now, we have methods for checking type info like `is_instance` in three places, standalone functions, on Type and on Typesystem. It would be nice to unify them somehow if that makes sense.

[2021-08-25 21:03] jcklie opened #202 "Improve profile for unique_everseen"
![image](https://user-images.githubusercontent.com/934600/130864407-e4a206e8-7ba4-46d3-9cbd-fecf507e2cf2.png)

[2021-08-26 07:41] #202 closed, assigned to jcklie

[2021-08-26 09:48] reckart opened #204 "Provide domain on feature"
**Is your feature request related to a problem? Please describe.**
Currently, there is no easy way to figure out which type defines a feature. E.g. if I look at the "begin" and "end" features of a feature structure, I need to check the entire inheritance hierarchy to figure out if the begin and end are inherited from the type `Annotation` or not.

**Describe the solution you'd like**
The UIMA Java

[2021-08-26 20:49] #204 closed, assigned to reckart

[2021-08-26 20:51] reckart opened #206 "Type unmarshalling from string to the actual type specified in the type system"
**Is your feature request related to a problem? Please describe.**
When a feature value is de-serialized from XMI, it should be converted into the proper type in Python.

[2021-08-26 20:51] jcklie opened #207 "Rename fields to snake_case instead of camelCase"
**Is your feature request related to a problem? Please describe.**
Things are named like in Java, e.g. domainType, rangeType. Rename them to domain_type, range_type, ...

[2021-08-27 08:47] #206 closed, assigned to reckart

[2021-09-10 13:34] reckart opened #209 "Parsing an array that was serialized using `multipleReferencesAllowed=true` fails"
**Describe the bug**
Parsing an array that was serialized using `multipleReferencesAllowed=true` fails with.

**To Reproduce**
Try loading these:

[code]

[code]

**Expected behavior**
Should just work.

**Please complete the following information:**
 - Version: 0.6.0-SNAPSHOT

[2021-09-10 13:41] #209 closed

[2021-09-22 09:49] reckart opened #211 "Serializing an FSArray without any elements breaks"
**Describe the bug**
Serializing an FSArray without any elements produces an XML attribute like `xxx="None"`.
Might be limited to the JSON branch - need to check.

**Expected behavior**
If an array is empty serialize a `xxx=""` case. If the arrays does not even exist, omit the attribute.

**Please complete the following information:**
 - Version: 0.6.0-SNAPSHOT, maybe even 0.5.3

[2021-09-22 13:41] reckart opened #212 "Allow loading/saving XMI/typesystems from/to Path"
**Is your feature request related to a problem? Please describe.**
Methods like `load_typesystem` or `load_cas_from_xmi` can currently work with an `IO` object or parse the context of a string, but they cannot load from disk if the user provides a `Path` object.

**Describe the solution you'd like**
I/O methods should support `Union[IO, Path, str]`.

[2021-09-22 15:22] #211 closed

[2021-09-22 15:32] reckart opened #215 "Ability to exclude types from cas_to_comparable_text"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to compare two CASes to each other, but I want to exclude certain types from the comparison.

**Describe the solution you'd like**
Add an `exclude_types` parameter to `cas_to_comparable_text`. For a first throw, considering type inheritance is not necessary. Maybe add that later.

[2021-09-22 15:47] #215 closed

[2021-09-23 13:35] #212 closed

[2021-09-23 13:37] reckart commented on #162
What needs to be done here?

[2021-09-27 09:14] reckart opened #217 "Use types in selects"
**Is your feature request related to a problem? Please describe.**
From the UIMA Java SDK, I am used to obtaining a type from the type system and then being able to use that type in `select` invocations. However, in cassis, the `select` methods only accept type names, not actual type objects.

**Describe the solution you'd like**
It would be nice if this would work:

[code]

[2021-09-27 13:36] reckart opened #218 "Error if there is no sofa"
**Describe the bug**
It is possible to create CAS objects in the UIMA Java SDK that do contain feature structures but not any sofa. XMI representing such CAS objects cannot be loaded in cassis.

**To Reproduce**
[code]

[code]

**Expected behavior**
Good question. I'd say the CAS should load and probably add the feature structures to the default view but without initializing the sofa of the view.

[2021-09-27 13:48] reckart opened #219 "Floating point special values not serialized as expected"
**Describe the bug**
Floating point special values such as not-a-number are serialized in the way Python uses them (i.e. `nan`) and Java doesn't like these - it expects `NaN`.

**To Reproduce**
* I'll provide a unit test with the MR.

**Expected behavior**
The files should be interoperable between the UIMA Java SDK and DKPro Cassis.

**Please complete the following information:**
 - Version: 0.5.x

[2021-09-27 13:56] reckart opened #221 "Unable to parse empty arrays"
**Describe the bug**
Cassis fails loading an empty array that has been directly added to a view.

**To Reproduce**
I'll provide a unit test.

**Expected behavior**
Should just work.

**Error message**
[code]

**Please complete the following information:**
 - Version: 0.6.0-SNAPSHOT

[2021-09-27 13:59] #219 closed

[2021-09-27 14:02] #221 closed

[2021-09-27 15:38] reckart commented on #49
We have aligned the test files with the UIMA Java SDK.

[2021-09-27 15:42] #49 closed

[2021-09-29 09:17] #192 closed

[2021-09-29 11:05] reckart opened #224 "DKPro Cassis 0.6.0"
**Checklist**

- [x] Make sure all issues for the milestone are completed, otherwise move them
- [x] Checkout the `main` branch
- [x] Bump the version in `cassis/__version__.py` to a stable one, e.g. `__version__ = "0.6.0"`, commit and push
- [x] Check and wait that the build completed.
- [x] Create a tag for that version via and push it
- [x] Wait for the build and Pypi to show the new version
-

[2021-09-29 11:41] jcklie opened #225 "Add check for properly formatted README.rst"
**Is your feature request related to a problem? Please describe.**
Pypi rejects a release in case the README is not proper RST.

**Describe the solution you'd like**
Add either an action or a unit test for that to check to catch the  error early.

[2021-09-29 11:43] #224 closed

[2021-09-29 12:10] #225 closed

[2021-09-29 14:50] reckart opened #227 "If a CAS contains no text the offset mapping initialization fails"
**Describe the bug**
If a CAS contains no text, the offset mapping initialization fails.

**Expected behavior**
If there is no text in a CAS, the offset mapping should be skipped - annotations should retain whatever is set as begin/end.

**Please complete the following information:**
 - Version: 0.6.0

[2021-09-29 15:16] reckart opened #229 "Get transitive closure of types"
**Is your feature request related to a problem? Please describe.**
Sometimes, I would like to get a minimal version of a type system containing only the types actually used in a given CAS.

**Describe the solution you'd like**
A utility method to obtain the transitive closure of a set of seed types from the current type system.

[2021-09-29 15:21] #229 closed

[2021-09-29 15:25] #227 closed

[2021-09-29 15:30] reckart opened #231 "cas_to_comparable_text breaks saying that FSes do not have an ID"
**Describe the bug**
The cas_to_comparable_text may break with a message that a features structure has no XMI ID and that auto-generating them is disabled.

The problem is a typo in a call to `cas._find_all_fs`which was `cas._find_all_fs(seeds)` but should be `cas._find_all_fs(seeds=seeds)`.

**Please complete the following information:**
 - Version: 0.6.0

[2021-09-29 15:32] reckart opened #233 "DKPro Cassis 0.6.1"
**Checklist**

- [x] Make sure all issues for the milestone are completed, otherwise move them
- [x] Checkout the `main` branch
- [x] Bump the version in `cassis/__version__.py` to a stable one, e.g. `__version__ = "0.6.0"`, commit and push
- [x] Check and wait that the build completed.
- [x] Create a tag for that version and push it
- [x] Wait for the build and Pypi to show the new version
- [x]

[2021-09-29 15:35] #231 closed

[2021-09-29 15:46] #233 closed

[2021-10-01 10:06] reckart opened #234 "cas_to_comparable_text fails with null arrays"
**Describe the bug**
When encountering an array where the elements are null, an exception is raised.

**To Reproduce**
I will include a unit test in the PR.

**Expected behavior**
Should work.

**Please complete the following information:**
 - Version: 0.6.1

[2021-10-01 10:30] #234 closed

[2021-11-15 13:31] DavidHuebner opened #236 "Accessing `.type` attribute leads to gigantic output due to recursion"
**Describe the bug**
The attribute `.type` of an annotation seems to be calling an infinite recursion loop instead of printing the simple type name. This is quite a severe bug as this prevents us not only from accessing `annotation.type`, but also from just printing an annotation.

**To Reproduce**
Steps to reproduce the behavior:
1. Download the attached very simple CAS and the according typesyst

[2021-11-15 13:55] reckart commented on #236
How about using `type.name`?

[2021-11-15 14:07] DavidHuebner commented on #236
This works in principle, but we should guarantee that the Type object has a proper string representation when called. Especially since calling `str(annotation)` will always call `str(annotation.type)` and lead to this kind of messy output.

So maybe adding something like the following representation to the `Type` class will already do the job.

[code]

[2021-11-15 16:22] jcklie commented on #236
We added your suggested change and it will be in the next release.

[2021-11-15 16:22] #236 closed

[2021-11-17 21:32] aarongiera opened #238 "Error parsing FSList in CTAKES xmi"
**Describe the bug**
I encountered an error while loading a ctakes xmi file.

**To Reproduce**
I've attached the ctakes TypeSystem.xml file [here](https://github.com/dkpro/dkpro-cassis/files/7558060/examples.zip). Loading this does produce some warnings due to duplicate features, but I think this is normal.
I've also attached the xmi. It's just the default clinical pipeline ran on the example note

[2021-11-19 14:40] reckart commented on #238
Thanks, that's indeed a case no yet covered by the UIMA/cassis XMI test suite. Looking into it!

[2021-11-19 18:56] reckart commented on #238
[code]

[code]

I think the suggested fix looks ok.

@jcklie WDYT?

[2021-11-19 19:07] jcklie commented on #238
Looks good to me

[2021-12-02 16:54] reckart commented on #238
Ok, so the proposed fix is not a fix because it stores the "tail" feature of the list as a python list. But what should be done is to decode the array of identifiers into a series of linked up NonEmptyFSList and EmptyFSList instances - at least for the time being.

It would be way more convenient if an FSList (IntegerList, etc. etc) could be handled as a python list/array in python, but I'm not ex

[2021-12-12 19:57] #238 closed

[2021-12-12 20:24] reckart opened #240 "Support different char offset strategies in JSON"
**Is your feature request related to a problem? Please describe.**
The UIMA JSON CAS spec says that there can be different char offset strategies, but currently only Java -> Python (import) and Python -> Java (export) is supported.

**Describe the solution you'd like**
Support the other strategies as well and write the strategy into the JSON file.

[2021-12-12 20:26] reckart opened #241 "Serialize views after features in JSON"
**Is your feature request related to a problem? Please describe.**
The UIMA JSON CAS spec seems to say that views should be serialized after features.

**Describe the solution you'd like**
Double check and if this is still the case, adjust the code.

[2021-12-12 20:39] #168 closed

[2021-12-15 17:35] reckart opened #242 "Array features are wrapped in extra array"
**Describe the bug**
When reading a CAS with an FSArray feature and then serializing it again, the output has an extra array wrapping the original one

**To Reproduce**
* I'll open a PR with a test

**Expected behavior**
There should be no extra array

**Please complete the following information:**
 - Version: 0.7.0-SNAPSHOT

[2021-12-15 20:08] jcklie opened #244 "Update dependencies"
# Describe the refactoring action
Upgrade dependencies.

# Expected benefit
Fixes and improvements.

[2021-12-17 16:22] #162 closed

[2021-12-17 16:55] reckart opened #247 "Sort order for selects and indexes"
**Describe the bug**
The normal sort order for selects and annotation indexes in UIMA is `begin` (asc) `end` (desc). However, cassis sorts `begin` (asc) `end` (asc)  and when a `select` returns multiple types, one type block comes after the other instead of the results being sorted by offsets.

**To Reproduce**
[code]

This shows `Annotation` before `DocumentAnnotation`

**Expected behavior**
`sel

[2022-02-14 21:31] jcklie opened #248 "Saving typesystem as xml does not have XML header"
**Describe the bug**
Saving typesystem as xml does not have XML header.

**To Reproduce**

[code]

[2022-03-14 08:16] reckart opened #249 "Set sofa string and document language in Cas constructor"
**Is your feature request related to a problem? Please describe.**
Right now, it is necessary to set the sofa string and the document language in extra lines after the Cas has been created.

**Describe the solution you'd like**
It would be nice if the constructor would optionally allow the document content and language to be set

[2022-03-14 08:20] reckart opened #250 "Convenience for setting the document language"
**Is your feature request related to a problem? Please describe.**
In order to set the document language, I have to search and retrieve the document annotation from the CAS and then set the language feature. If there is no document annotation yet, I have to create one.

**Describe the solution you'd like**
In the UIMA Java SDK, there is a convenience method for setting the document language which

[2022-03-22 21:04] zesch opened #251 "Typo in documentation? cas.xml => cas.xmi"
all the examples in the core documentation say `with open('cas.xml', 'rb')`. Shouldn't it be 'xmi' instead of 'xml'?

[2022-03-23 13:11] zesch opened #252 "unexpected output when reading DKPro .xmi"
**Describe the bug**
I have created an xmi with Java DKPro and I am now trying to read that back in using Cassis. When trying to access and print some annotations, I get some kind of (infinite?) loop that outputs GB of what looks like type descriptions.

**To Reproduce**
run attached main.py

If possible, attach a minimal file that triggers the error.

**Please complete the following information:*

[2022-03-24 09:39] reckart commented on #251
Yes, I think you are right. `.xml` is usually used for the type system and `.xmi` for the CAS XMI files.

[2022-03-24 16:29] reckart opened #253 "Merging type systems that contain the same types triggers tons of warnings"
**Describe the bug**
When merging two almost-same type systems in cassis, it triggers tons of warnings in the line of `feature XXX already defined in  YYY`.

**To Reproduce**
* Try merging two identical type systems.

**Expected behavior**
The warning should only be triggered if a subtype redefines a feature that was already defined in a super-type (and even then it might be a bit annoying as it i

[2022-03-25 09:01] jcklie commented on #252
Thanks for the report, I shortened the output a bit.

[2022-03-25 09:01] #252 closed

[2022-03-25 09:03] jcklie commented on #251
Thanks for the report, I fixed it.

[2022-03-25 09:03] #251 closed, assigned to jcklie

[2022-03-25 09:12] jcklie commented on #248
Should be fixed now

[2022-03-25 09:12] #248 closed

[2022-03-25 10:14] jcklie commented on #253
You can disable warnings in python either by specifying a filter [1] or via a context manager [2]. Is that not an option for you? I would rather not remove the warning and I do not see the need to add a function that globally disables these warnings as you can do it from the Python stdlib.

[1]: https://docs.python.org/3/library/warnings.html#warnings.filterwarnings
[2]: https://docs.python.org/3/

[2022-03-25 10:18] reckart commented on #253
We have two cases:

1) merging two basically identical types
2) a subtype re-defines a feature already defined by a supertype

For 1, I think there should not be a warning. If you think there should be one, why?

For 2, I am also not sure if there should be a warning - why do you think again there should be one?

[2022-03-25 10:20] jcklie commented on #253
The warnings do not come from merging directly, but from the adding features function. I find it good that you  get warned when adding an existing feature or redefining something of the parent. Maybe I can disable warnings during merging, but you could do it also in application code.

[2022-03-25 10:24] reckart commented on #253
Warnings should be generated things where we have a strong feeling that the programming is making a mistake or that the API is abused. Redefining a feature in a subtype could be a mistake. But as part of type system merging, it is not uncommon that types are defined in different type systems to be merged - and it is not a case of sub-type feature redefinition - it is a case of same-type feature re

[2022-03-25 12:12] #253 closed

[2022-07-06 18:57] reckart opened #258 "Empty string arrays are not supported"
**Describe the bug**
The UIMA Java SDK renders empty string arrays as an empty XML attribute. This is something cassis can currently neither parse nor generate.

[code]

**Expected behavior**
Should work.

**Please complete the following information:**
 - Version: 0.7.1

[2022-07-22 12:00] giuliabaldini opened #259 "Wrong entities are removed when iterating through CAS"
**Describe the bug**
Hey there, thank you for the great package! I am currently using it for my annotations, and I have noticed something weird when trying to remove multiple entities.

**To Reproduce**
Steps to reproduce the behavior:
[code]
Output:
[code]

**Expected behavior**
I would expect the `remove` function to remove all the entities where `source` is not `user`. Also, since it removes 50

[2022-07-22 12:14] reckart commented on #259
I think the problem may be that `cas.select("NamedEntity")` returns a "live view" of the data, so when you remove stuff from the CAS, that loop gets confused. I think you can write something like `list(cas.select("NamedEntity"))` to avoid the problem.

[2022-07-22 12:22] giuliabaldini commented on #259
Hey, thank you very much for your answer!

`cas.select("NamedEntity")` is already a list, I have checked that with `print(type(cas.select("NamedEntity")))`. I have also now run it as you suggested, but the result is the same.

I have also tried doing the following:
[code]
which also results in the same output.

[2022-07-22 14:17] reckart commented on #259
Found the bug. Annotations were considered equal when their positions were equal which cause the undesired behavior. In fact, I wonder why any annotations remained in the index. That said, I think I have a fix - PR is already there.

[2022-07-22 14:20] #259 closed

[2022-07-22 14:24] reckart commented on #259
@giuliabaldini you can try running your code agains the main branch

[2022-07-22 15:10] giuliabaldini commented on #259
@reckart thank you very much, it was super fast! From a quick test, everything seems to be alright, I'll get back to you if I have any other problems. Have a nice weekend!

[2022-07-24 09:15] yanirmr opened #261 "How can I add some Sofas into the same CAS?"
Hi!

Using the test example about setting Sofa strings, we can add a sofa as follows:
[code]
However, I couldn't find an example where more than one Sofa was set in one CAS file either in the documentation or in the tests.
As far as I know, there is a list of Sofas in CAS, which should make this possible ([here](https://github.com/dkpro/dkpro-cassis/blob/d556f437540d2f7fbc37f015d05b93e02ded6be0/ca

[2022-07-24 09:18] reckart commented on #261
That method to get a list of sofas be a bit misleading. You can have multiple "views" per CAS and each view can have one sofa. See `create_view()` and `get_view()`.

[2022-07-24 09:37] yanirmr commented on #261
Thanks for responding so quickly!
I'm not sure if I understand you correctly. For example, let's say I want to create a new CAS that contains a list of sofas. Can you describe the steps chain in a few words?

Thank you, Richard!

[2022-07-24 09:54] reckart commented on #261
I don't have the code in front of me right now, but it should look something like this:

[code]

What this gives you are three objects, each of them exposing the CAS calls, but each of them basically being a "sub-CAS". On each you can set a sofa string. When you add annotations to any  of these views, the annotations point to the respective sofa of that view.

[2022-07-24 17:37] #261 closed

[2022-08-18 10:14] Babyflum opened #262 "Missing sofa references are not checked and produce invalid XMIs"
**Is your feature request related to a problem? Please describe.**
When executing code similar to the following:

[code]

the sub_annotation needs to be manually added to the cas (`cas.add(annotation=sub_annotation)`). If this isn't done, the resulting xmi is invalid because cassis won't set the sofa feature in the sub_annotation. However, there is no error message.

**Describe the solution you'd

[2022-08-22 16:25] priyankanirmale opened #263 "while serializing CAS to xmi: AttributeError: 'str' object has no attribute 'elements'"
Below error came while converting CAS added annotation data to xmi format using to_xmi() function. Error as below ,

  File "C:\working\inception-external-recommender-master\inception-external-recommender-master\inception\lib\site-packages\cassis\cas.py", line 605, in to_xmi
    return self._serialize(CasXmiSerializer(), path, pretty_print=pretty_print)
  File "C:\working\inception-external-recomm

[2022-08-22 16:28] reckart commented on #263
Please see https://github.com/dkpro/dkpro-cassis#array-support

If that documentation does not solve your problem, can you provide a short script that reproduces the problem please?

[2022-08-23 04:38] priyankanirmale commented on #263
Github code :  [https://github.com/inception-project/inception-external-recommender]

Please refer above github code. I'm using this github code for implementation of inception annotation data.
In "ariadne/contrib/server.py" file, inside the Server() class there is function called _predict() which has this line,
         "result = jsonify(document=req.cas.to_xmi())"
The error is coming at this lin

[2022-08-23 04:50] reckart commented on #263
I know that code and so far as I know, it does not use FSArray/multi-valued features.

Please provide a piece of code that does use FSArray/multi-valued features in the way that you do so I can see if you use them correctly.

[2022-08-23 05:01] reckart commented on #263
Let's ask differently:

* Which version of dkpro cassis are you using?
* Does your data contain any FSArray/multi-valued feature at all?

[2022-08-23 06:19] priyankanirmale commented on #263
Here is code that does use FSArray/multi-valued features internally ,

import requests
from cassis import *
from cassis.typesystem import FeatureStructure

from bottle import Bottle, request, BaseRequest, response

app = Bottle()

IS_PREDICTION = "inception_internal_predicted"

def create_prediction(cas: Cas, layer: str, feature: str, begin: int, end: int, label: str) -> FeatureStructure:
    Anno

[2022-08-23 06:21] priyankanirmale commented on #263
Using dkpro-cassis==0.7.2 version

[2022-08-24 06:06] reckart commented on #263
Looking at this code, it appears to me that no FSArray is added here - so I assume it must be already in the data that you receive from the remote side - in this case apparently from INCEpTION?

We have recently fixed a bug related to empty arrays here: https://github.com/dkpro/dkpro-cassis/issues/258

If you are using cassis 0.7.2, then that bug should not affect you anymore. Maybe you have stumb

[2022-10-25 12:08] reckart opened #264 "cassis 0.7.3"
**Checklist**

- [x] Make sure all issues for the milestone are completed, otherwise move them
- [x] Checkout the `main` branch
- [x] Bump the version in `cassis/__version__.py` to a stable one, e.g. `__version__ = "0.6.0"`, commit and push
- [x] Check and wait that the build completed.
- [x] Create a tag for that version and push it
- [x] Wait for the build and Pypi to show the new version
- [x]

[2022-10-25 13:41] #264 closed

[2022-10-25 15:49] reckart commented on #263
Closing issue as there as no further feedback.